body {
  margin: 0
}

div#_227_825_Command_Panel_unique_4cbeae3e67f942d998d6e23cec325f14 {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_227_827_main_frame_back_unique_b5206b17ece84093b9be607a6ab4aa10 {
  
                    position: absolute;
                    background: rgba(250, 249, 248, 1);
                    height: 1024px;
                    width: 1440px;
                    left: 0px;
                    top: 0px;
                
}

div#_227_828_header_closed_unique_048d3f388b73489a9773f5d8d571541c {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#I227_828_113_462_003-AROC-Verlauf-V00_small_1_unique_e04e020d948b49ac911c2d3b3058172c {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#I227_828_113_463_Rectangle_2_unique_1a99b32e9ce14eea912d2f84abf7e388 {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#I227_unique_cfa9320542d44bf89b35a5041db49c5b {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#I227_828_113_3082_Ellipse_1_unique_cae22863a1b9485b88989b86b6094f26 {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_f2049188429e41969aaf5397a9c4811c {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#I227_828_unique_bac44b53da4545eb8b455bf55f34e901 {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#I227_828_113__unique_057cce94c3a748319a10ae2dbc58aa48 {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#I227_828_113_3086_Avatar_unique_8727fa141f374981a2a5b64d66cc25f4 {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I227_828_113_3086_9762_1114_Shape_unique_2f3cfcc3602b4988b5dcbe4c0cb4cdfc {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_227_830_003-AROC-Verlauf-V00_small_1_unique_606cff7ec37443e79dfad1ca71488af2 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_227_831_navigation_closed_unique_b2757ce018d5428d806304fc41ab5130 {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#I227_831_113_358_nav_back_left_unique_63dd83b8a65b4f038889e6fd1b741603 {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#I227_8_unique_788bb89126784bb0bc2cd740515ca115 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#I227__unique_38e78f1f9a3a4962ab2f1ac05b6f1848 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                        cursor: pointer;
                    
}

img#I227_unique_0fe8a8dc21314b19bb5620f5c7a1e1ff {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#I227_831__unique_a06d9e5393164fe59d961c6af530419c {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#I227__unique_9094e09279fb4477ba83e5e97d2e9522 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#I227_8_unique_7ed7dd43edb6485ab7fe91ad767a505c {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#I227_unique_995f71f2be7a4a11b8c93ff04dca114f {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                    
}

div#I227_831_113_298_bars_unique_a0a6bbbf1f4c47cd980f551086af2888 {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#I227_8_unique_ab97247f3f684c03b02e13aa5c014c96 {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

span#Command_Panel_unique_e3f830fd379747889244590615eb1c6b {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 13.68%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

div#_227_846_Form_Shipping_unique_63a72065ad1643f9be6d45c0e2cbb4e3 {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 208px;
                    width: 369px;
                    left: 566px;
                    top: 93px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I227_846_197_23151_Legend_unique_cc0577775faa42358528f6ed3ddf7c36 {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

span#Shipping_information_unique_f40ba58fc6a34256a7cf72acfb1ef268 {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: -2%;
                            text-align: left;
                            height: 29px;
                            width: 371px;
                            position: relative;
                        
}

div#I227_846_197_23149_Text_unique_89932dc3aa094257879e96a67b6501da {
  
                            position: relative;
                            height: 22px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_df787da21a0a4e48bc4c0b5d64158350 {
  
                                color: #757575ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 22px;
                                width: 14px;
                                position: relative;
                            
}

div#I227_846_197_23060_Select_Field_unique_a0c1242c1959415e8d896a99b83dd748 {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 8px;
                    
}

span#Label_unique_aca0e8a61eb1433b99297a0d0d3e6bae {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 371px;
                            position: relative;
                        
}

div#_227_849_Rectangle_3_unique_c4c5b3c0e6d94fc39a1c8617c7ebd85c {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 43px;
                    width: 272px;
                    left: 589px;
                    top: 290px;
                
}

img#_227_850_unique_18df5f87937f436bb80b0a6201d57d17 {
  position: absolute; left: 840px; top: 311.5px
}

span#____unique_e8dcde2bd20c46f6b5d2f6fbc931248a {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 24px;
                    width: 17px;
                    position: absolute;
                    left: 601px;
                    top: 299px;
                
}

div#_227_934_Form_Shipping_unique_729f13c830754ffc98f683ad358df693 {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 208px;
                    width: 369px;
                    left: 86px;
                    top: 93px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I227_934_197_23151_Legend_unique_76428ffc09104a0b93e7371b205c72fb {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

span#Shipping_information_unique_fc4b42ee6af54cbab443cff56140a6ed {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: -2%;
                            text-align: left;
                            height: 29px;
                            width: 371px;
                            position: relative;
                        
}

div#I227_934_197_23149_Text_unique_d3c49c533e664ff78112ad53ed70fd35 {
  
                            position: relative;
                            height: 44px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_ce53847f9b52421e8a041693602d7e54 {
  
                                color: #757575ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 44px;
                                width: 254px;
                                position: relative;
                            
}

div#I227_934_197_23060_Select_Field_unique_32818cbce76e4c749eb33977fa2afc4c {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 8px;
                    
}

span#Label_unique_e6a59f92d5b74d7290253b16e41342ca {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 371px;
                            position: relative;
                        
}

div#_227_937_Rectangle_3_unique_13401a87f3884c58a50de0a3a78ee747 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 43px;
                    width: 272px;
                    left: 109px;
                    top: 290px;
                
}

img#_227_938_unique_7e3628a2521c415794ba0dc2ff3fff10 {
  position: absolute; left: 360px; top: 311.5px
}

span#Start_AE_Service_Mode_unique_5e88d0ccf73042179e0a71b5c4727870 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 24px;
                    width: 215px;
                    position: absolute;
                    left: 121px;
                    top: 299px;
                
}

