
@font-face {
    font-family: Abel-Regular;
    src: url(../fonts/Abel\Abel-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter-Italic-VariableFont_opsz,wght;
    src: url(../fonts/Inter\Inter-Italic-VariableFont_opsz,wght.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter-VariableFont_opsz,wght;
    src: url(../fonts/Inter\Inter-VariableFont_opsz,wght.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-Black;
    src: url(../fonts/Inter\static\Inter_18pt-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-BlackItalic;
    src: url(../fonts/Inter\static\Inter_18pt-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-Bold;
    src: url(../fonts/Inter\static\Inter_18pt-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-BoldItalic;
    src: url(../fonts/Inter\static\Inter_18pt-BoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-ExtraBold;
    src: url(../fonts/Inter\static\Inter_18pt-ExtraBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-ExtraBoldItalic;
    src: url(../fonts/Inter\static\Inter_18pt-ExtraBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-ExtraLight;
    src: url(../fonts/Inter\static\Inter_18pt-ExtraLight.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-ExtraLightItalic;
    src: url(../fonts/Inter\static\Inter_18pt-ExtraLightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-Italic;
    src: url(../fonts/Inter\static\Inter_18pt-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-Light;
    src: url(../fonts/Inter\static\Inter_18pt-Light.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-LightItalic;
    src: url(../fonts/Inter\static\Inter_18pt-LightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-Medium;
    src: url(../fonts/Inter\static\Inter_18pt-Medium.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-MediumItalic;
    src: url(../fonts/Inter\static\Inter_18pt-MediumItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-Regular;
    src: url(../fonts/Inter\static\Inter_18pt-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-SemiBold;
    src: url(../fonts/Inter\static\Inter_18pt-SemiBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-SemiBoldItalic;
    src: url(../fonts/Inter\static\Inter_18pt-SemiBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-Thin;
    src: url(../fonts/Inter\static\Inter_18pt-Thin.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_18pt-ThinItalic;
    src: url(../fonts/Inter\static\Inter_18pt-ThinItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-Black;
    src: url(../fonts/Inter\static\Inter_24pt-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-BlackItalic;
    src: url(../fonts/Inter\static\Inter_24pt-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-Bold;
    src: url(../fonts/Inter\static\Inter_24pt-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-BoldItalic;
    src: url(../fonts/Inter\static\Inter_24pt-BoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-ExtraBold;
    src: url(../fonts/Inter\static\Inter_24pt-ExtraBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-ExtraBoldItalic;
    src: url(../fonts/Inter\static\Inter_24pt-ExtraBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-ExtraLight;
    src: url(../fonts/Inter\static\Inter_24pt-ExtraLight.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-ExtraLightItalic;
    src: url(../fonts/Inter\static\Inter_24pt-ExtraLightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-Italic;
    src: url(../fonts/Inter\static\Inter_24pt-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-Light;
    src: url(../fonts/Inter\static\Inter_24pt-Light.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-LightItalic;
    src: url(../fonts/Inter\static\Inter_24pt-LightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-Medium;
    src: url(../fonts/Inter\static\Inter_24pt-Medium.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-MediumItalic;
    src: url(../fonts/Inter\static\Inter_24pt-MediumItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-Regular;
    src: url(../fonts/Inter\static\Inter_24pt-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-SemiBold;
    src: url(../fonts/Inter\static\Inter_24pt-SemiBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-SemiBoldItalic;
    src: url(../fonts/Inter\static\Inter_24pt-SemiBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-Thin;
    src: url(../fonts/Inter\static\Inter_24pt-Thin.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_24pt-ThinItalic;
    src: url(../fonts/Inter\static\Inter_24pt-ThinItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-Black;
    src: url(../fonts/Inter\static\Inter_28pt-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-BlackItalic;
    src: url(../fonts/Inter\static\Inter_28pt-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-Bold;
    src: url(../fonts/Inter\static\Inter_28pt-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-BoldItalic;
    src: url(../fonts/Inter\static\Inter_28pt-BoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-ExtraBold;
    src: url(../fonts/Inter\static\Inter_28pt-ExtraBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-ExtraBoldItalic;
    src: url(../fonts/Inter\static\Inter_28pt-ExtraBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-ExtraLight;
    src: url(../fonts/Inter\static\Inter_28pt-ExtraLight.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-ExtraLightItalic;
    src: url(../fonts/Inter\static\Inter_28pt-ExtraLightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-Italic;
    src: url(../fonts/Inter\static\Inter_28pt-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-Light;
    src: url(../fonts/Inter\static\Inter_28pt-Light.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-LightItalic;
    src: url(../fonts/Inter\static\Inter_28pt-LightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-Medium;
    src: url(../fonts/Inter\static\Inter_28pt-Medium.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-MediumItalic;
    src: url(../fonts/Inter\static\Inter_28pt-MediumItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-Regular;
    src: url(../fonts/Inter\static\Inter_28pt-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-SemiBold;
    src: url(../fonts/Inter\static\Inter_28pt-SemiBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-SemiBoldItalic;
    src: url(../fonts/Inter\static\Inter_28pt-SemiBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-Thin;
    src: url(../fonts/Inter\static\Inter_28pt-Thin.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter_28pt-ThinItalic;
    src: url(../fonts/Inter\static\Inter_28pt-ThinItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Italic-VariableFont_wdth,wght;
    src: url(../fonts/Roboto\Roboto-Italic-VariableFont_wdth,wght.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-VariableFont_wdth,wght;
    src: url(../fonts/Roboto\Roboto-VariableFont_wdth,wght.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto\static\Roboto-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-BlackItalic;
    src: url(../fonts/Roboto\static\Roboto-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto\static\Roboto-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url(../fonts/Roboto\static\Roboto-BoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-ExtraBold;
    src: url(../fonts/Roboto\static\Roboto-ExtraBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-ExtraBoldItalic;
    src: url(../fonts/Roboto\static\Roboto-ExtraBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-ExtraLight;
    src: url(../fonts/Roboto\static\Roboto-ExtraLight.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-ExtraLightItalic;
    src: url(../fonts/Roboto\static\Roboto-ExtraLightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Italic;
    src: url(../fonts/Roboto\static\Roboto-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto\static\Roboto-Light.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url(../fonts/Roboto\static\Roboto-LightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto\static\Roboto-Medium.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-MediumItalic;
    src: url(../fonts/Roboto\static\Roboto-MediumItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto\static\Roboto-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-SemiBold;
    src: url(../fonts/Roboto\static\Roboto-SemiBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-SemiBoldItalic;
    src: url(../fonts/Roboto\static\Roboto-SemiBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto\static\Roboto-Thin.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(../fonts/Roboto\static\Roboto-ThinItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-Black;
    src: url(../fonts/Roboto\static\Roboto_Condensed-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-BlackItalic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-Bold;
    src: url(../fonts/Roboto\static\Roboto_Condensed-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-BoldItalic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-BoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-ExtraBold;
    src: url(../fonts/Roboto\static\Roboto_Condensed-ExtraBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-ExtraBoldItalic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-ExtraBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-ExtraLight;
    src: url(../fonts/Roboto\static\Roboto_Condensed-ExtraLight.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-ExtraLightItalic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-ExtraLightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-Italic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-Light;
    src: url(../fonts/Roboto\static\Roboto_Condensed-Light.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-LightItalic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-LightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-Medium;
    src: url(../fonts/Roboto\static\Roboto_Condensed-Medium.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-MediumItalic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-MediumItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-Regular;
    src: url(../fonts/Roboto\static\Roboto_Condensed-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-SemiBold;
    src: url(../fonts/Roboto\static\Roboto_Condensed-SemiBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-SemiBoldItalic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-SemiBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-Thin;
    src: url(../fonts/Roboto\static\Roboto_Condensed-Thin.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_Condensed-ThinItalic;
    src: url(../fonts/Roboto\static\Roboto_Condensed-ThinItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-Black;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-BlackItalic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-Bold;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-BoldItalic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-BoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-ExtraBold;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-ExtraBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-ExtraBoldItalic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-ExtraBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-ExtraLight;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-ExtraLight.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-ExtraLightItalic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-ExtraLightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-Italic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-Light;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-Light.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-LightItalic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-LightItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-Medium;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-Medium.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-MediumItalic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-MediumItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-Regular;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-SemiBold;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-SemiBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-SemiBoldItalic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-SemiBoldItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-Thin;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-Thin.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto_SemiCondensed-ThinItalic;
    src: url(../fonts/Roboto\static\Roboto_SemiCondensed-ThinItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sen-VariableFont_wght;
    src: url(../fonts/Sen\Sen-VariableFont_wght.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sen-Bold;
    src: url(../fonts/Sen\static\Sen-Bold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sen-ExtraBold;
    src: url(../fonts/Sen\static\Sen-ExtraBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sen-Medium;
    src: url(../fonts/Sen\static\Sen-Medium.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sen-Regular;
    src: url(../fonts/Sen\static\Sen-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sen-SemiBold;
    src: url(../fonts/Sen\static\Sen-SemiBold.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}