body {
  margin: 0
}

div#_113_297_header_closed_unique_642633c31d834f8a94c90210b1c8872f {
  position: absolute; height: 100vh; width: 100%
}

div#_113_300_003-AROC-Verlauf-V00_small_1_unique_320ad973963a4ace9ecb03b46fb3f4b0 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_113_3066_navigation_closed_unique_4407fdb71fde4139954cd6c299a9e033 {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                    overflow-y: scroll;

                
}

div#_113_358_nav_back_left_unique_c6b33b5625244f469de746008f3680b9 {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#_113_3_unique_477770d7092342a3b2adb6853424674c {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#_113__unique_53c781ce8b4b49dcb5ba7b68efb911f9 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#_113_unique_1bbbeb4b3c2f4ed89a8f527933ad4978 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#_113_366__unique_d2cab94cba9a4c3eb83e80be8ff784dd {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#_113__unique_7833bb9634464a4bb447a473c45e06b5 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#_113_3_unique_d52e9c7bbab64602892b1dec4b4169e5 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#_113_unique_e2578f0b93ee43b8af0921a279bc2d23 {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                    
}

div#_113_298_bars_unique_726737b0daf947aa88c8801142312c0e {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#_113_2_unique_81d3d8e8924c43179a95243b6d7a1211 {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

