body {
  margin: 0
}

div#_97_298_main_frame_open_unique_4e7f97cb9b33454aa5808fd0e127dbe7 {
  position: absolute; height: 100vh; width: 100%
}

div#_97_297_main_frame_back_unique_eb80ea7be4144be29fe896278bb463bf {
  
                    position: absolute;
                    background: rgba(250, 249, 248, 1);
                    height: 1024px;
                    width: 1440px;
                    left: 0px;
                    top: 0px;
                    overflow-y: scroll;

                
}

div#_112_289_navigation_unique_a899383884244521a595cb05fad49353 {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#_97_267_nav_back_left_unique_6c79a46ef40a4908bf19ae3fcbbe9db9 {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 100%;
                    
}

span#Logout_Mission_unique_a171067effc3446385ee2145c3f279a7 {
  
                        color: #e6e6e6ff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        height: 1.76%;
                        width: 46.78%;
                        position: absolute;
                        left: calc(100% * 0.2145922746781116);
                        top: calc(100% * 0.3173828125);
                        cursor: pointer;
                    
}

img#_97_31_unique_de70e39e69374551ad55181ba303b965 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

span#Command_Panel_unique_ec51b9cf664b41a992f3d1bfcb5636f7 {
  
                        color: #e6e6e6ff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        height: 1.76%;
                        width: 50.64%;
                        position: absolute;
                        left: calc(100% * 0.2145922746781116);
                        top: calc(100% * 0.2763671875);
                        cursor: pointer;
                    
}

img#_97_3_unique_0de785eb66c941c188545c90b3803872 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

span#Base_Information_unique_3a82d8b7a83c4cd6b3378c872e99f636 {
  
                        color: #e6e6e6ff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        height: 1.76%;
                        width: 54.94%;
                        position: absolute;
                        left: calc(100% * 0.2145922746781116);
                        top: calc(100% * 0.234375);
                    
}

img#_97__unique_6bf2fd81828143a886146325e14c95a8 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

span#AE_Hub_Data_unique_488158898aa34e8e8cff472df86a88dd {
  
                        color: #e6e6e6ff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        height: 1.76%;
                        width: 40.34%;
                        position: absolute;
                        left: calc(100% * 0.22317596566523606);
                        top: calc(100% * 0.19140625);
                        cursor: pointer;
                    
}

img#_97_322_C_unique_0ac9ed14b23e4262977c4a7be2a4de20 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

span#Pilot_Academy_unique_2c7b0ec0ffb84cff811ece593d8b0f49 {
  
                        color: #e6e6e6ff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        height: 1.76%;
                        width: 45.06%;
                        position: absolute;
                        left: calc(100% * 0.22317596566523606);
                        top: calc(100% * 0.1484375);
                    
}

img#_97_3_unique_c7c3cbbc1051432c8a7657ef072f2c3b {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

span#Mission_Control_unique_82d326a1a25f46d8a91ea1e3a2c2b0c1 {
  
                        color: #e6e6e6ff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        height: 1.76%;
                        width: 47.21%;
                        position: absolute;
                        left: calc(100% * 0.22317596566523606);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#_97_32_unique_318515b2adeb4cdd80fb495dff86bd0a {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

span#Homebase_unique_5be270675d3a491daea5341d9f9845d6 {
  
                        color: #e6e6e6ff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        height: 1.76%;
                        width: 32.62%;
                        position: absolute;
                        left: calc(100% * 0.22317596566523606);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                    
}

img#_97__unique_574a412dad1b4c50861790a85be0376c {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                    
}

img#_97_26_unique_021ac5624c3c45b3aa1fa8bcbbab4e20 {
  
                        position: absolute;
                        left: calc(100% * 0.23605150214592274);
                        top: calc(100% * 0.0205078125);
                    
}

img#_97_27_unique_9179b37246ca4424af4238b0494bdf03 {
  
                        position: absolute;
                        left: calc(100% * 0.5209676717995574);
                        top: calc(100% * 0.02123568521346897);
                    
}

img#_97_27_unique_f58730aaf73e453499ef7ace117d00b2 {
  
                        position: absolute;
                        left: calc(100% * 0.39005065066620004);
                        top: calc(100% * 0.020507812610610555);
                    
}

img#_97_27_unique_45a9d85df35e46218c341f4d5d14429d {
  
                        position: absolute;
                        left: calc(100% * 0.39005065066620004);
                        top: calc(100% * 0.020507812610610555);
                    
}

img#_97_2_unique_02f1a088a6884a1aa38a8d450f189e02 {
  
                        position: absolute;
                        left: calc(100% * 0.393098664386078);
                        top: calc(100% * 0.021229068335394542);
                    
}

img#_97_2_unique_9f7b0e452e1046b2a4644bf5489ddfe0 {
  
                        position: absolute;
                        left: calc(100% * 0.5177124743809516);
                        top: calc(100% * 0.020507812610610555);
                    
}

img#_97_28_unique_15b45d791e2747c781b8c0b321e0289f {
  
                        position: absolute;
                        left: calc(100% * 0.24386391005290936);
                        top: calc(100% * 0.021235685256332848);
                    
}

img#_97_2_unique_f0d75d7e8abf468fbe2ce3c180ee31ee {
  
                        position: absolute;
                        left: calc(100% * 0.24108221909518918);
                        top: calc(100% * 0.02123568521346897);
                    
}

img#_97_28_unique_5581e03d2acc45fea7b68e6962ae0dd9 {
  
                        position: absolute;
                        left: calc(100% * 0.2424434715074531);
                        top: calc(100% * 0.03705037327017635);
                    
}

img#_97_28_unique_9f7aa54cdf974fa2b8f8bdbacc8d6bd6 {
  
                        position: absolute;
                        left: calc(100% * 0.3549835702380397);
                        top: calc(100% * 0.03788411931600422);
                    
}

img#_97_28_unique_260241c9d1d04c7a80315210b9b581db {
  
                        position: absolute;
                        left: calc(100% * 0.3171644241513101);
                        top: calc(100% * 0.021235685256332848);
                    
}

img#_97_29_unique_d144c59ec3a74520a55a4f8226b74f9d {
  
                        position: absolute;
                        left: calc(100% * 0.24330165304339496);
                        top: calc(100% * 0.021235685256332848);
                    
}

img#_97_29_unique_b21c79fac4ec4c48bca228c80881e087 {
  
                        position: absolute;
                        left: calc(100% * 0.28789748552019506);
                        top: calc(100% * 0.031717052101157606);
                    
}

img#_97_29_unique_c385198e62884d0889a45dfcd1aa30b3 {
  
                        position: absolute;
                        left: calc(100% * 0.28789748552019506);
                        top: calc(100% * 0.0321471564238891);
                    
}

img#_97_2_unique_30fb3b599eb34703ab924e8a4f42c3ca {
  
                        position: absolute;
                        left: calc(100% * 0.6544296854043723);
                        top: calc(100% * 0.020507812610610555);
                    
}

div#_113_418_bars_unique_5e18b56a8f7741e482924c9c87a01d38 {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#_113_4_unique_8c203e3c52a64ff7b6a9aef7e5c9d3ca {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

div#_113_431_header_unique_163ed732425f49288c4d824e11cd6da6 {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#_113_290_003-AROC-Verlauf-V00_small_1_unique_5179a35158da434dbd9a98081358e899 {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#_113_423_Rectangle_2_unique_153c62767ff04cc8a140ecabebbe2d44 {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 100%;
                        top: calc(100% * 0.0847457627118644);
                    
}

img#_113_unique_3838e268259a4978aa62048b8acc22c7 {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#_113_427_Ellipse_1_unique_8810d3c3231c4f708f1198d0f8ecceae {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_b95d05d194ff4725ad8cf3d1007a6926 {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#_102_286_unique_a025b261f79c467a87e1b6f4fda49d02 {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#_97_328_Onlin_unique_87a083e790504187a62e5a703ca944c4 {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#_102_279_Avatar_unique_e5014c92aee3439ea3589f48769edb0f {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I102_279_9762_1114_Shape_unique_5e9ca34498754a1bbb5a8b146f24ecb1 {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

