body {
  margin: 0
}

div#_113_293_New_Home_closed_unique_6410d7525a7f4e2fbcdab7e7c3c9f1a4 {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_113_295_main_frame_back_unique_7cdd29b00a754b4f86c7e52208052acb {
  
                    position: absolute;
                    background: rgba(250, 249, 248, 1);
                    height: 1024px;
                    width: 1440px;
                    left: 0px;
                    top: 0px;
                
}

div#_113_3067_header_closed_unique_47df3c87007d446cacbf0025457e6809 {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#_113_462_003-AROC-Verlauf-V00_small_1_unique_80b7dc7f1b8743259d623f144f52493a {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#_113_463_Rectangle_2_unique_2f7f3d971c2c41e4b212701c5d3b2c26 {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#_113_unique_b9cd8f6678a547b4ba4c090849aa90fb {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#_113_3082_Ellipse_1_unique_4fb8edaa5c1241df9d2e4f14e9ee2b14 {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_4d100a47347f4b039637ffca98b7c356 {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#_113_308_unique_60cc4071c43e46f19b4ae4879a21909e {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#_113_3085_Onl_unique_1346cde726ad4869a19d77a25fabaee7 {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#_113_3086_Avatar_unique_7d488e15daaf449e8ee5023db29f8fcc {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I113_3086_9762_1114_Shape_unique_174c0a37767f44eda78425e2d6b718bf {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_113_300_003-AROC-Verlauf-V00_small_1_unique_aaf4422f4bc44b639a6913ee74ff0ac4 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_113_3066_navigation_closed_unique_0edb11f94439436bb9588f27b550cc1e {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#_113_358_nav_back_left_unique_e2d0d49eaf824db9a33e0bad2b52d06e {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#_113_3_unique_c8e43caca48e43a28db229f9ade4cac8 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#_113__unique_c2fa06c37f754ca9a9039c61b940daf3 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#_113_unique_a778e850cc94442e871ae22c21b3a250 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#_113_366__unique_9fa0b9f38a7d4af1aaa9b36d0352a74b {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#_113__unique_8cafe5bd106e4fed83cb2b21b729b6ea {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#_113_3_unique_e5a107b98ae0491d8ef295f95ec48d9b {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#_113_unique_1548bb0ef2ea446d849bbc38b99f80a9 {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                    
}

div#_113_298_bars_unique_7a9f12a5074243619edf8c535088264e {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#_113_2_unique_7047627e88e5485b8d8f8107a7ed337e {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

span#Welcome_to_AE_Hub_unique_9a4216d8370840be9060a28a5515bbe8 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 16.6%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

div#_160_522_Form_Shipping_unique_15b2585e09474b6183333047c85d00ed {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 208px;
                    width: 369px;
                    left: 86px;
                    top: 89px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I160_522_197_23151_Legend_unique_badd4280d8e14fe1a0e139eed384425f {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

span#Shipping_information_unique_4f0d0473e2d44670a18829e938bda70b {
  
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: -2%;
                            text-align: left;
                            height: 58px;
                            width: 371px;
                            position: relative;
                        
}

div#I160_522_197_23149_Text_unique_93e129a9a5384a0faeb960eb5d276a47 {
  
                            position: relative;
                            height: 22px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_7b6cf0b34d604e13bbd42ce11bcab16b {
  
                                color: #757575ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 22px;
                                width: 0px;
                                position: relative;
                            
}

div#I160_522_197_23060_Select_Field_unique_2231ff5cd88847308c16906ed22207c1 {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 8px;
                    
}

span#Label_unique_eac2e7651a6e404a9cea46c1e04d94f0 {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 371px;
                            position: relative;
                        
}

span#Start_your_Mission__now_unique_d136b21d2b2144399eccc11ae04daa37 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 24px;
                    width: 227px;
                    position: absolute;
                    left: 121px;
                    top: 295px;
                
}

div#_160_526_Form_Shipping_unique_5988a49bc6514ed39b1bab572894afbd {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 208px;
                    width: 369px;
                    left: 86px;
                    top: 387px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I160_526_197_23151_Legend_unique_7fdb170734a442569b0846bbca9165ce {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

span#Shipping_information_unique_c527c355c7df41b8816b58de6d9f1168 {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: -2%;
                            text-align: left;
                            height: 29px;
                            width: 371px;
                            position: relative;
                        
}

div#I160_526_197_23149_Text_unique_569a5b17f6fe47059e4f0d9f39856785 {
  
                            position: relative;
                            height: 44px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_74be8d131dcc411c8d0e0a0c3c9bdd17 {
  
                                color: #757575ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 44px;
                                width: 326px;
                                position: relative;
                            
}

div#I160_526_197_23060_Select_Field_unique_1c2cc5cfcaa9453586ce61fd351a6136 {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 8px;
                    
}

span#Label_unique_8eee0be9f7f540b7aaa13fce447d708d {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 371px;
                            position: relative;
                        
}

div#_160_529_Rectangle_3_unique_285725f1fec249f4baafd61d84157195 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 43px;
                    width: 272px;
                    left: 109px;
                    top: 584px;
                
}

img#_160_530_unique_ee90a092d91141178ce2cfcff5e09d7c {
  position: absolute; left: 360px; top: 605.5px
}

span#Start_Mission_unique_123fecaeb55d472ba899735cb6e064d0 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 24px;
                    width: 127px;
                    position: absolute;
                    left: 121px;
                    top: 593px;
                
}

div#_160_533_Form_Shipping_unique_615fae27c26742e3acc06c102b162201 {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 208px;
                    width: 369px;
                    left: 566px;
                    top: 93px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I160_533_197_23151_Legend_unique_83b786d44a44444cabdc2b22709881d3 {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

span#Shipping_information_unique_02f3b94ec6ab472998ac068bc793d3a2 {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: -2%;
                            text-align: left;
                            height: 29px;
                            width: 371px;
                            position: relative;
                        
}

div#I160_533_197_23149_Text_unique_c327e661f3ec4bc984d1c1e369b2443c {
  
                            position: relative;
                            height: 22px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_63c9322d4e05498b892875dfb6933dbe {
  
                                color: #757575ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 22px;
                                width: 355px;
                                position: relative;
                            
}

div#I160_533_197_23060_Select_Field_unique_646d72ba271d410aa288b6d1e47a24ab {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 8px;
                    
}

span#Label_unique_72b4518b0808426581014255c9a8d2e7 {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 371px;
                            position: relative;
                        
}

div#_160_536_Rectangle_3_unique_d1247854e4c44fc1965da244273769a2 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 43px;
                    width: 272px;
                    left: 589px;
                    top: 290px;
                
}

img#_160_537_unique_37fea91682694918816fb5441056e4d2 {
  position: absolute; left: 840px; top: 311.5px
}

span#Start_Acadamy_unique_e8c04bdf4f284de69db6064f4de4a47f {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 24px;
                    width: 146px;
                    position: absolute;
                    left: 601px;
                    top: 299px;
                
}

div#_160_540_Form_Shipping_unique_c36b98a051544ba399ae0d03c8f7a88f {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 208px;
                    width: 369px;
                    left: 566px;
                    top: 387px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I160_540_197_23151_Legend_unique_a3e2142728cd40ee8477ecb6b773576c {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

span#Shipping_information_unique_ca29190215454253986c7b1d1ed1b9fb {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: -2%;
                            text-align: left;
                            height: 29px;
                            width: 371px;
                            position: relative;
                        
}

div#I160_540_197_23149_Text_unique_cffb548ac9a84540ace2e39247e7b469 {
  
                            position: relative;
                            height: 22px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_dcde4670ab2e41b085f71c3c8ef5695c {
  
                                color: #757575ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 22px;
                                width: 332px;
                                position: relative;
                            
}

div#I160_540_197_23060_Select_Field_unique_35fa2d106ece408eba18bb2ce3f37452 {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 8px;
                    
}

span#Label_unique_f37dcb2131ae4fb69135c4a906bc3b5b {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 371px;
                            position: relative;
                        
}

div#_160_543_Rectangle_3_unique_e1621e272b084592b7ced71465eae022 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 43px;
                    width: 272px;
                    left: 589px;
                    top: 584px;
                
}

img#_160_544_unique_ad0b16d608b24b47832a4b7b79c100f2 {
  position: absolute; left: 840px; top: 605.5px
}

span#Start_AE_Hub_Data_unique_f166f70e84434de9b3bdca91774f677b {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 24px;
                    width: 181px;
                    position: absolute;
                    left: 601px;
                    top: 593px;
                
}

