body {
  margin: 0
}

div#_165_993_New_AE_Pilot_Cockpit_unique_ddd96bf7223f4395993911425616e976 {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_165_995_main_frame_back_unique_141a8f5c8ca04eb69633a5a1d39d8898 {
  
                    position: absolute;
                    background: rgba(250, 249, 248, 1);
                    height: 1024px;
                    width: 1440px;
                    left: 0px;
                    top: 0px;
                
}

div#_165_996_header_closed_unique_a87e6d34055c469cb00c80d2d5576566 {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#I165_996_113_462_003-AROC-Verlauf-V00_small_1_unique_146ec00f8f914a6d8596730a0896f255 {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#I165_996_113_463_Rectangle_2_unique_4d5ffa9f8f7e4df2b577814f797d8a7f {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#I165_unique_2da5f425e0a24d02a0d40e065d5f53a5 {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#I165_996_113_3082_Ellipse_1_unique_d06690d997f647a79f8408b1df96836e {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_501208ef35344637966386594d2f6ed7 {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#I165_996_unique_6f4ee83d47dc41e2adf5c19b7b7d0022 {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#I165_996_113__unique_1aabaab7abbe47e093ca0ea7c09c5dc4 {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#I165_996_113_3086_Avatar_unique_725d20c5db0c4f49a4f4ce2d590d2bea {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I165_996_113_3086_9762_1114_Shape_unique_912787d1d6d145c98396b1513bf90cf2 {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_165_998_003-AROC-Verlauf-V00_small_1_unique_37a95d97ad264e718e6e1190bfcc55a1 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_165_999_navigation_closed_unique_0b41c6cb4c2e4b47adfe4107a3e6e40e {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#I165_999_113_358_nav_back_left_unique_ed8c9f3bf66841f29d3d06dc3475112b {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#I165_9_unique_5a6544edb6ba46479ab7021701975d01 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#I165__unique_1c6304717d854d3a8642e6a3400890b0 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#I165_unique_27a127ef2f994972bdbbf344fb21da43 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#I165_999__unique_8638af590b4046a185aa327b189ba0b5 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#I165__unique_a7b813d5c59e4b49bab14f49bfe9d1ab {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#I165_9_unique_ba5a15a8f05a4d459901009c7c253fa8 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#I165_unique_c8a5fdeb3b994db8a133ea895ae8a7ef {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                        cursor: pointer;
                    
}

div#I165_999_113_298_bars_unique_ef64931a7a09421f8f40dd60d44a7503 {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#I165_9_unique_b294aefc326c425abd81c25364fa31c2 {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

span#Mission_Control___Cockpit_unique_d9b8d676d9fb4f6db0154a4bf4fb27eb {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 21.11%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

span#Mission_Control__Pick_81215668155_unique_cf549439872d40f3b9585a2669e3f711 {
  
                    color: #000000ff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 18px;
                    width: 248px;
                    position: absolute;
                    left: 84px;
                    top: 97px;
                
}

span#AE_01__81215668155_Pick__81215668155_Session__986565656565_User-ID__265-878-565_unique_2009e690d4a748f4a2782a4c98db3628 {
  
                    color: #000000ff;
                    font-size: 15px;
                    font-weight: null;
                    text-align: left;
                    height: 72px;
                    width: 160px;
                    position: absolute;
                    left: 867px;
                    top: 729px;
                
}

div#_165_1005_DALL_E_2024-12-17_11_15_18_-_A_first-person_view_in_the_style_of_a_video_game_shooter__from_the_perspective_of_a_robot_in_a_warehouse__The_robotic_arms_and_gripper_are_in_the_fore_1_unique_b3e9152f0b32479ea63f230c1d5ef0a7 {
  
                    position: absolute;
                    background: url(../assets/images/c252244f982c4b8f2f6bf298b3466dbfec8a9246)
                        100% / cover no-repeat;
                    height: 739px;
                    width: 739px;
                    left: 85px;
                    top: 136px;
                    cursor: pointer;
                
}

div#_165_1006_Review_Card_unique_1e103662452848229bee81a646f85e5b {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 167px;
                    width: 190px;
                    left: 1146px;
                    top: 136px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I165_1006_638_14360_Rating_unique_fae1a5847b5b43e2b56a630d034f025a {
  
                        position: relative;
                        height: 20px;
                        width: 116px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

div#I165_1006_638_14361_Star_unique_7281a872c5df42f6a63630b545b46e9f {
  
                            position: relative;
                            overflow: hidden;
                            height: 20px;
                            width: 20px;
                        
}

img#I165_unique_d2ee83f6678141799b69cc5df36efcee {
  
                                position: absolute;
                                left: calc(100% * 0.0833333432674408);
                                top: calc(100% * 0.0833333432674408);
                            
}

div#I165_1006_638_14362_Star_unique_38052dd001b8482886156be08df1c9cd {
  
                            position: relative;
                            overflow: hidden;
                            height: 20px;
                            width: 20px;
                        
}

img#I165_unique_6fcb2a1905bb4fe0a7fe4d4f784eacd7 {
  
                                position: absolute;
                                left: calc(100% * 0.0833333432674408);
                                top: calc(100% * 0.0833333432674408);
                            
}

div#I165_1006_638_14363_Star_unique_6fa318d2b5bb44f69ad0a2bbb444aca0 {
  
                            position: relative;
                            overflow: hidden;
                            height: 20px;
                            width: 20px;
                        
}

img#I165_unique_8839d1bc221348e6989214c72bf41f31 {
  
                                position: absolute;
                                left: calc(100% * 0.0833333432674408);
                                top: calc(100% * 0.0833333432674408);
                            
}

div#I165_1006_638_14364_Star_unique_ce62ad54b136480fbd321061e803916c {
  
                            position: relative;
                            overflow: hidden;
                            height: 20px;
                            width: 20px;
                        
}

img#I165_unique_cf4506dfc1ba4886a22502880e001b16 {
  
                                position: absolute;
                                left: calc(100% * 0.0833333432674408);
                                top: calc(100% * 0.0833333432674408);
                            
}

div#I165_1006_638_14365_Star_unique_44fd541cd7cb4bdb99a8c13a37e0a1f9 {
  
                            position: relative;
                            overflow: hidden;
                            height: 20px;
                            width: 20px;
                        
}

img#I165_unique_9e7bdb022f69425aa0ac140aa7539be9 {
  
                                position: absolute;
                                left: calc(100% * 0.0833333432674408);
                                top: calc(100% * 0.0833333432674408);
                            
}

div#I165_1006_2236_16105_Review_Body_unique_72ba22c2f65047c7b3cd80cd6f027b13 {
  
                        position: relative;
                        height: 55px;
                        width: 192px;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

div#I165_1006_611_25625_Text_Heading_unique_01d64b15041b45d89eade4749e58069a {
  
                            position: relative;
                            height: 29px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_Heading_unique_516439106f51455ea1b5b72456a1002a {
  
                                color: #1e1e1eff;
                                font-family: Inter;
                                font-size: 24px;
                                font-weight: 600;
                                line-height: 120%;
                                letter-spacing: -2%;
                                text-align: left;
                                height: 29px;
                                width: 123px;
                                position: relative;
                            
}

div#I165_1006_611_25950_Text_unique_49bec26b39a54d31befc0e545c138ba7 {
  
                            position: relative;
                            height: 22px;
                            width: calc(100% - 0px - 0px);
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_ac75ee01217341608291fb463342c1b3 {
  
                                color: #1e1e1eff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 22px;
                                width: 192px;
                                position: relative;
                            
}

div#I165_1006_2236_16098_Avatar_Block_unique_9346f7ea78af4e868c59faa00db4fb77 {
  
                        position: relative;
                        height: 46px;
                        width: 192px;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 12px;
                    
}

div#I165_1006_2236_16098_2010_15576_Avatar_unique_f60322b49e4b4f87a2c29ed02ebbf30e {
  
                            position: relative;
                            overflow: hidden;
                            border-radius: 9999px;
                            height: 40px;
                            width: 40px;
                        
}

div#I165_1006_2236_16098_2010_15576_9762_1114_Shape_unique_891350ce439848fd9dfd1613cbd28976 {
  
                                position: absolute;
                                background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                    100% / cover no-repeat;
                                height: 40px;
                                width: 40px;
                                left: calc(50% - 20px);
                                top: calc(50% - 20px);
                            
}

div#I165_1006_2236_16098_2010_15577_Info_unique_73801ed65efd4b84946c93d6d1a8a841 {
  
                            position: relative;
                            height: 46px;
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                            gap: 2px;
                        
}

span#Title_unique_af5dbd6ac5f24154ae479a5ad638a7d2 {
  
                                color: #757575ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 139%;
                                text-align: left;
                                height: 22px;
                                width: 140px;
                                position: relative;
                            
}

span#Description_unique_6b5334c39b834be185ce0033f16c57e0 {
  
                                color: #b3b3b3ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 22px;
                                width: 140px;
                                position: relative;
                            
}

div#_165_1007_Slider_Field_unique_3b00e7b083ec4e108ec5c967689c9d70 {
  
                    position: absolute;
                    height: 76px;
                    width: 235px;
                    left: 1151px;
                    top: 380px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 12px;
                
}

div#I165_1007_48_3202_Label_unique_5e2254922bd24e97bab3386a7a620f9e {
  
                        position: relative;
                        height: 22px;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                    
}

span#Label_unique_1bfcb0b745004a178f4db2c5c150a9c0 {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 183px;
                            position: relative;
                        
}

div#I165_1007_589_17702_Slider_Output_unique_ffc6115c57c449cd9d08e599d944bd25 {
  
                            position: relative;
                            height: 20px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            flex-wrap: nowrap;
                        
}

span#Prefix_unique_e4432f73d115410c9ab917560e330ea0 {
  
                                color: #1e1e1eff;
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: right;
                                height: 20px;
                                width: 12px;
                                position: relative;
                            
}

span#Value_unique_125627c675274f8bbe60aa7061f89da1 {
  
                                color: #1e1e1eff;
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: right;
                                height: 20px;
                                width: 40px;
                                position: relative;
                            
}

div#I165_1007_565_15435_Slider_unique_596f5c825853496e8b3e1ee0c9b6ba6d {
  
                        position: relative;
                        height: 8px;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: nowrap;
                    
}

div#I165_1007_565_15436_Block_unique_1d2b57ca1b434552a9222bcbf35c1186 {
  
                            position: relative;
                            background: rgba(230, 230, 230, 1);
                            border-radius: 9999px;
                            height: 8px;
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            flex-wrap: nowrap;
                        
}

div#I165_1007_565_15437_Knob_Start_unique_8fbb686519bd49b8967225e0e40738f7 {
  
                                position: relative;
                                overflow: hidden;
                                background: rgba(44, 44, 44, 1);
                                border-radius: 9999px;
                                height: 16px;
                                width: 16px;
                            
}

div#I165_1007_565_15438_Slider_unique_f63da167c90a4399b4d26b7e4f5ce52e {
  
                                position: relative;
                                overflow: hidden;
                                flex: 1;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-wrap: nowrap;
                            
}

div#I165_1007_565_15439_Knob_End_unique_c1e95475c27d4601803c9c4e578dcb8c {
  
                                position: relative;
                                overflow: hidden;
                                background: rgba(44, 44, 44, 1);
                                border-radius: 9999px;
                                height: 16px;
                                width: 16px;
                            
}

span#Description_unique_b603c16b5d0a4f1ea614f849e0d81d27 {
  
                        color: #757575ff;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 139%;
                        text-align: left;
                        height: 22px;
                        width: 235px;
                        position: relative;
                    
}

div#_165_1008_Slider_Field_unique_3a86475df9e14b478c615282d2c0fc48 {
  
                    position: absolute;
                    height: 76px;
                    width: 235px;
                    left: 1151px;
                    top: 483px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 12px;
                
}

div#I165_1008_48_3202_Label_unique_2bffe7cc48424ebabec85b1b1a26064b {
  
                        position: relative;
                        height: 22px;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                    
}

span#Label_unique_25c11444761d409cb3f007511f48914c {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 183px;
                            position: relative;
                        
}

div#I165_1008_589_17702_Slider_Output_unique_56a9f5b26f224b77bac28da467ab87b4 {
  
                            position: relative;
                            height: 20px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            flex-wrap: nowrap;
                        
}

span#Prefix_unique_b069d93c33d1419f9b1bd6b7ab292e4b {
  
                                color: #1e1e1eff;
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: right;
                                height: 20px;
                                width: 12px;
                                position: relative;
                            
}

span#Value_unique_61603351f5c64a1fbe8799ffa58d10e2 {
  
                                color: #1e1e1eff;
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: right;
                                height: 20px;
                                width: 40px;
                                position: relative;
                            
}

div#I165_1008_565_15435_Slider_unique_29de06d9a55b4c32badc9502514953de {
  
                        position: relative;
                        height: 8px;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: nowrap;
                    
}

div#I165_1008_565_15436_Block_unique_c8b67427e5c64e768bd8757498b86322 {
  
                            position: relative;
                            background: rgba(230, 230, 230, 1);
                            border-radius: 9999px;
                            height: 8px;
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            flex-wrap: nowrap;
                        
}

div#I165_1008_565_15437_Knob_Start_unique_79ae81c49d2a462ba53094cb195c2ed0 {
  
                                position: relative;
                                overflow: hidden;
                                background: rgba(44, 44, 44, 1);
                                border-radius: 9999px;
                                height: 16px;
                                width: 16px;
                            
}

div#I165_1008_565_15438_Slider_unique_2e1428087cee4b0fb00b099283193f97 {
  
                                position: relative;
                                overflow: hidden;
                                flex: 1;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-wrap: nowrap;
                            
}

div#I165_1008_565_15439_Knob_End_unique_f1361aa55bf04548a3ccd68328858716 {
  
                                position: relative;
                                overflow: hidden;
                                background: rgba(44, 44, 44, 1);
                                border-radius: 9999px;
                                height: 16px;
                                width: 16px;
                            
}

span#Description_unique_be05c50cc95f4c8e8c44ee3e1c0f8ed6 {
  
                        color: #757575ff;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 139%;
                        text-align: left;
                        height: 22px;
                        width: 235px;
                        position: relative;
                    
}

div#_165_1009_Switch_Field_unique_93bddeacc871406899af1e01229b6c76 {
  
                    position: absolute;
                    height: 46px;
                    width: 235px;
                    left: 1151px;
                    top: 586px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                
}

div#I165_1009_9762_1904_Checkbox_and_Label_unique_d8039fbdef78443497ffd4084944f5db {
  
                        position: relative;
                        height: 24px;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 12px;
                    
}

span#Label_unique_7c48893b9eac450c9d91b37afe394d1d {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 183px;
                            position: relative;
                        
}

div#I165_1009_565_15572_Switch_unique_e5eaa3ed0f894ec5baf828ee8baf9c15 {
  
                            position: relative;
                            overflow: hidden;
                            background: rgba(44, 44, 44, 1);
                            border-color: #2c2c2cff;
                            border-style: solid;
                            border-width: 1px;
                            border-radius: 9999px;
                            height: 22px;
                            width: 38px;
                        
}

img#I165_unique_071b80ed5a4a472699227f3b8dcac2b1 {
  
                                position: absolute;
                                left: 19px;
                                top: calc(50% - 9px);
                            
}

span#Description_unique_089412bae331481e93912d0167950069 {
  
                        color: #757575ff;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 139%;
                        text-align: left;
                        height: 22px;
                        width: 235px;
                        position: relative;
                    
}

div#_165_1010_Textarea_Field_unique_0f3552e6d452401e96b805d8bf70ace6 {
  
                    position: absolute;
                    height: 132px;
                    width: 240px;
                    left: 1150px;
                    top: 743px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 8px;
                
}

span#Label_unique_78e2e42a4c5847dc8bdac88e475f17dd {
  
                        color: #1e1e1eff;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 139%;
                        text-align: left;
                        height: 44px;
                        width: 240px;
                        position: relative;
                    
}

div#I165_1010_589_17840_Textarea_unique_1adf40f08b6c4e6087840c6254fc0567 {
  
                        position: relative;
                        overflow: hidden;
                        background: rgba(255, 255, 255, 1);
                        border-color: #d9d9d9ff;
                        border-style: solid;
                        border-width: 1px;
                        border-radius: 8px;
                        height: 54px;
                        width: 206px;
                        width: calc(100% - 16px - 16px);
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        padding: 12px 16px 12px 16px;
                    
}

span#Value_unique_735b4d4664464d71b0fd814aee8c8ef0 {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 139%;
                            text-align: left;
                            height: 22px;
                            width: 208px;
                            position: relative;
                        
}

img#I165_unique_825d81ffa8b64f339bcd37e99dcdcb3c {
  
                            position: absolute;
                            right: 5.019326210021973px;
                            bottom: 6.019336700439453px;
                        
}

div#_165_1011_Button_unique_c4a20e0a30c744a3af80c448da801dda {
  
                    position: absolute;
                    overflow: hidden;
                    background: rgba(65, 189, 240, 1);
                    border-radius: 8px;
                    height: 21px;
                    width: 211px;
                    left: 864px;
                    top: 595px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 8px;
                    padding: 12px 12px 12px 12px;
                
}

span#Button_unique_4eb655fa896e475fb5ded305468c599e {
  
                        color: #000000ff;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 100%;
                        text-align: left;
                        height: 16px;
                        width: 130px;
                        position: relative;
                    
}

div#_165_1012_Button_unique_64666021760b4760a332cb7c303217bb {
  
                    position: absolute;
                    overflow: hidden;
                    background: rgba(177, 88, 154, 1);
                    border-radius: 8px;
                    height: 21px;
                    width: 211px;
                    left: 864px;
                    top: 659px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 8px;
                    padding: 12px 12px 12px 12px;
                
}

span#Button_unique_1c0701fe78624cbd98b06b1f6eb2d92a {
  
                        color: #ffffffff;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 100%;
                        text-align: left;
                        height: 16px;
                        width: 134px;
                        position: relative;
                    
}

div#_165_1013_Button_unique_de21e12aff844375a2fe3a3e2e74a0c6 {
  
                    position: absolute;
                    overflow: hidden;
                    background: rgba(177, 88, 89, 1);
                    border-radius: 8px;
                    height: 21px;
                    width: 211px;
                    left: 864px;
                    top: 828px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 8px;
                    padding: 12px 12px 12px 12px;
                
}

span#Button_unique_8cad6a9c83874e4083df680008ed4e1a {
  
                        color: #ffffffff;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 100%;
                        text-align: left;
                        height: 16px;
                        width: 151px;
                        position: relative;
                    
}

div#_165_1014_Stats_Card_unique_dda24bf5eb2f4ab68fb792d9f6b7060e {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 392px;
                    width: 190px;
                    left: 862px;
                    top: 136px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I165_1014_2236_15072_Clock_unique_1cb2b63dbbd24d7191bd9ee970a0ab1c {
  
                        position: relative;
                        overflow: hidden;
                        height: 40px;
                        width: 40px;
                    
}

img#I165_unique_3d0d8e14847942a4be7d91b962ad0ecb {
  
                            position: absolute;
                            left: calc(100% * 0.08333333134651184);
                            top: calc(100% * 0.08333333134651184);
                        
}

div#I165_1014_611_26190_Review_Body_unique_e556e6dac88c486680365345df0ea2ae {
  
                        position: relative;
                        width: 192px;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

div#I165_1014_611_26191_Text_Heading_unique_aa35f23453a94d718869a6aba3816901 {
  
                            position: relative;
                            height: 29px;
                            width: calc(100% - 0px - 0px);
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_Heading_unique_cdc98c17e53c4aabb83a9fffd7f4fc40 {
  
                                color: #1e1e1eff;
                                font-family: Inter;
                                font-size: 24px;
                                font-weight: 600;
                                line-height: 120%;
                                letter-spacing: -2%;
                                text-align: center;
                                height: 29px;
                                width: 79px;
                                position: relative;
                            
}

div#I165_1014_611_26192_Text_unique_9a2e634874fd4181aaa30dc9c5758ca4 {
  
                            position: relative;
                            height: 22px;
                            width: calc(100% - 0px - 0px);
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_557c9f5ba7064e8a97b5f255cd98aeb5 {
  
                                color: #1e1e1eff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: center;
                                height: 22px;
                                width: 72px;
                                position: relative;
                            
}

img#_165_10_unique_b1675712aafa49aa8110c7be6f264278 {
  
                    position: absolute;
                    left: calc(100% * 0.6465277777777778);
                    top: calc(100% * 0.443359375);
                
}

img#_165_1_unique_4c6e5e1ad4a24e53bf896091aa401577 {
  
                    position: absolute;
                    left: calc(100% * 0.5013888888888889);
                    top: calc(100% * 0.0947265625);
                
}

img#_165_10_unique_803a1eb936b5495fafec99bd20929871 {
  
                    position: absolute;
                    left: calc(100% * 0.6152777777777778);
                    top: calc(100% * 0.2998046875);
                
}

img#_165_unique_3e1f67dd2c1943d7a15f6be02a47b45a {
  
                    position: absolute;
                    left: calc(100% * 0.5597222222222222);
                    top: calc(100% * 0.095703125);
                
}

img#_165_102_unique_93f7b6c5d5a74751baf9284a3c87aaec {
  
                    position: absolute;
                    left: calc(100% * 0.5305555555555556);
                    top: calc(100% * 0.09765625);
                
}

span#Break__B__unique_1778ba5a7f6d44328fa4b2bfb027c8eb {
  
                    color: #000000ff;
                    font-size: 15px;
                    font-weight: null;
                    text-align: left;
                    height: 18px;
                    width: 68px;
                    position: absolute;
                    left: 922px;
                    top: 306px;
                
}

span#Full_view__V__unique_eeab66750117434b84cd04a7af592558 {
  
                    color: #000000ff;
                    font-size: 15px;
                    font-weight: null;
                    text-align: left;
                    height: 18px;
                    width: 90px;
                    position: absolute;
                    left: 922px;
                    top: 346px;
                
}

span#Change_AE_01__C__unique_7b35ad1ad2114a2dba9ed3ed3fe3ccdf {
  
                    color: #000000ff;
                    font-size: 15px;
                    font-weight: null;
                    text-align: left;
                    height: 18px;
                    width: 125px;
                    position: absolute;
                    left: 922px;
                    top: 381px;
                
}

span#Help__H__unique_c967ec19aeaa4fbe9f3f7903287c3ad3 {
  
                    color: #000000ff;
                    font-size: 15px;
                    font-weight: null;
                    text-align: left;
                    height: 18px;
                    width: 61px;
                    position: absolute;
                    left: 922px;
                    top: 424px;
                
}

div#_165_1034_Rectangle_3_unique_4b788382f7eb4472bba5be88c112ec56 {
  
                    position: absolute;
                    background: rgba(44, 208, 80, 1);
                    height: 48.455810546875px;
                    width: 239px;
                    left: 862px;
                    top: 595px;
                
}

img#_165_103_unique_7c9337dc68264f569c9935da755c5d29 {
  
                    position: absolute;
                    left: 1067.7323913574219px;
                    top: 619.2279052734375px;
                
}

span#Start_Mission__M__unique_cf61e8ea944446a88837d2d8e71f7470 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 27px;
                    width: 167px;
                    position: absolute;
                    left: 881px;
                    top: 605px;
                
}

div#_165_1039_Rectangle_3_unique_f26690a9646c4260bd434fbb43d29cf8 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 48.455810546875px;
                    width: 239px;
                    left: 862px;
                    top: 659px;
                
}

img#_165_104_unique_c7eb20697b364c8cade75b9632deb31b {
  
                    position: absolute;
                    left: 1067.7323913574219px;
                    top: 683.2279052734375px;
                
}

span#Stop_Mission__S__unique_0702049588c24736b34a0a79657105a3 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 26px;
                    width: 166px;
                    position: absolute;
                    left: 881px;
                    top: 669px;
                
}

div#_165_1044_Rectangle_3_unique_0fec09545ab640bcb295f9edd80680b8 {
  
                    position: absolute;
                    background: rgba(196, 0, 0, 1);
                    height: 48.455810546875px;
                    width: 239px;
                    left: 863px;
                    top: 827px;
                
}

img#_165_104_unique_f1472af7a54d40caa0008cddc1896324 {
  
                    position: absolute;
                    left: 1068.7323913574219px;
                    top: 851.2279052734375px;
                
}

span#Emergency_Stop__E__unique_f12e4af4e0e344eaa23b7421a1a7f070 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: left;
                    height: 32px;
                    width: 202px;
                    position: absolute;
                    left: 882px;
                    top: 837px;
                
}

