body {
  margin: 0
}

div#_165_1447_New_Mission_Control_WAITING_AE_01_unique_27eb61fa4e4b49ef98844ef46ad4924a {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_165_1449_header_closed_unique_abd478d769e54d29a15ef9d264bca57a {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#I165_1449_113_462_003-AROC-Verlauf-V00_small_1_unique_bf98140ce6e04161aa01060f09b34365 {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#I165_1449_113_463_Rectangle_2_unique_a2c5b4d7c06f4b26833a2b154cda602d {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#I165_unique_dd2aa9c098bf4014889f21f4b99eee96 {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#I165_1449_113_3082_Ellipse_1_unique_e4ee1e521f054cee8ea0ba6854eaacbb {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_bccb819f0d3a4178909c9fe397102d36 {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#I165_144_unique_afd984f02ff341ee8a6c9972da1a0bac {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#I165_1449_113_unique_298148df4dd54490b25180d074a985a5 {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#I165_1449_113_3086_Avatar_unique_01336e018aab4115af97e694f8381a28 {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I165_1449_113_3086_9762_1114_Shape_unique_7bedcf73520f40da93abfa9efa5a7e95 {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_165_1451_003-AROC-Verlauf-V00_small_1_unique_cb09df6aee8144a986ddcc455ee11e23 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_165_1452_navigation_closed_unique_b12686a50f4c4c809ba083b61198fc20 {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#I165_1452_113_358_nav_back_left_unique_01a4dce8a26b48358f81beb8e3f5e3cf {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#I165_1_unique_03d4df37fa2148e098ca3033f4d9dddd {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#I165__unique_26c3c3f89f234f90963ea0b2d0377006 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#I165_unique_0b0c24986e364365ac5874a5d191564d {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#I165_1452_unique_33b4706eaa0d4518a06f71685fe538ee {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#I165__unique_cf4d254cd9f240d69ec8eeb2048173ee {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#I165_1_unique_310c182d56c241d694963e169dd95d63 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#I165_unique_4962fc0ace094061a78a0fb4e4b5519e {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                        cursor: pointer;
                    
}

div#I165_1452_113_298_bars_unique_5b8ce5ad59f346359c55dcb21ea8b8f6 {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#I165_1_unique_34e07ebbee2a494ba11b6763a81a40a2 {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

span#Mission_Control_unique_b274485b22554d37bd9df55f9f3c62aa {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 12.92%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

div#_165_1455_image_2_unique_b429e1b18ec64a0caf8191233654e1c1 {
  
                    position: absolute;
                    height: 256px;
                    width: 256px;
                    left: 548px;
                    top: 366px;
                
}

div#_165_1456_load-1110_256_1_unique_090f43e58be04f2ca30053f6fd2d75ff {
  
                    position: absolute;
                    background: url(../assets/images/2053e12b9c1ae3a081ba092cab8cebf11585ecce)
                        100% / cover no-repeat;
                    height: 256px;
                    width: 256px;
                    left: 827px;
                    top: 110px;
                
}

span#We_are_waiting_for_the_connection__to_your_robot__buckle_up__adjust__your_sitting_position_and_be_ready__unique_376d174dc2f141cc96dc0dfd592ca2ca {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 8.79%;
                    width: 29.31%;
                    position: absolute;
                    left: calc(100% * 0.2263888888888889);
                    top: calc(100% * 0.1787109375);
                
}

