body {
  margin: 0
}

div#_113_3160_New_AE_Hub_Data_unique_5d66788123354fe1883046ef9f69186e {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_113_3162_main_frame_back_unique_32a6eb59b658471cb316403d470529c9 {
  
                    position: absolute;
                    background: rgba(250, 249, 248, 1);
                    height: 1024px;
                    width: 1440px;
                    left: 0px;
                    top: 0px;
                
}

div#_113_3163_header_closed_unique_ca9c21a7d87040d9bffd6233cbb8a6d9 {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#I113_3163_113_462_003-AROC-Verlauf-V00_small_1_unique_c3de8011e64043da8609e47ae7970112 {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#I113_3163_113_463_Rectangle_2_unique_634571314e754bdaa39d1a2abffb161a {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#I113_unique_72076e06e8e34b74b8a17fbd11b1945e {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#I113_3163_113_3082_Ellipse_1_unique_d8b5d54920c94020b76641d71428f371 {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_aab3e8947d0e42d6b2bcee4119756a6e {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#I113_316_unique_55d3d655f6cd4952af6adf016bd34633 {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#I113_3163_113_unique_c5f1c0d1781c4e369b11add4566935a2 {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#I113_3163_113_3086_Avatar_unique_01dce3c8fa9341ffb8162f436cb51881 {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I113_3163_113_3086_9762_1114_Shape_unique_a5149dd50f93476091c23b5e7f63c26e {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_113_3165_003-AROC-Verlauf-V00_small_1_unique_ed750f30fd734b47bc6ca1a5a553dd82 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_113_3166_navigation_closed_unique_c28e6f8538884b5080023adaba6b97ea {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#I113_3166_113_358_nav_back_left_unique_5f387e7dc13147ff9b3412726afa6fd3 {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#I113_3_unique_0fd91bd1d3e24b87a6238b3e83352034 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#I113__unique_a3fff86c04fa4000af96c316ef5c5371 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#I113_unique_cdbcc2b2360649a99e5e95bf8263bd2d {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#I113_3166_unique_bf471421c6da4ec2adda0fda799557a2 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#I113__unique_6ae6d511a40c463999d09fcf1ae15034 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#I113_3_unique_1fcb98a7328d4c79bf0c5fbf89508df3 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#I113_unique_b1840befb88e47d595752cc43e11de56 {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                    
}

div#I113_3166_113_298_bars_unique_83d2b38c854542e297f182191edc9744 {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#I113_3_unique_a60df176a0a54747970e6301de703813 {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

div#_113_3167_image_1_unique_e0d66a56774b45bebe109485ac19ceef {
  
                    position: absolute;
                    background: url(../assets/images/38c665f6ac1a5cb4dbaf7b7b410e6415c6bddd4e)
                        100% / cover no-repeat;
                    height: 702px;
                    width: 1318px;
                    left: 86px;
                    top: 97px;
                
}

span#AE_Hub_Data_unique_3d50142c67fb4344b2ec9f966c961356 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 10.9%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

