body {
  margin: 0
}

div#_210_1276_New_WAITING_one_Pick_Ready_unique_66966a4f98eb4224801d130534972e37 {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_210_1278_header_closed_unique_6ac759c872d24065a733b59c3cc7f097 {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#I210_1278_113_462_003-AROC-Verlauf-V00_small_1_unique_b64fadd26f2c49a59ec52487dd123d7c {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#I210_1278_113_463_Rectangle_2_unique_28da36da1f8b443fb13d5a8a74ef9686 {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#I210_unique_4eae43caa4344c41ba169c9cbf67d240 {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#I210_1278_113_3082_Ellipse_1_unique_314f6c8ffe3046859e2672afb057425d {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_8898dc630d194f67b3100a039b016a7c {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#I210_127_unique_69e9e9411aeb4eb4b0fe79b86094dd33 {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#I210_1278_113_unique_c21ecfb721a743d5bcc069cdeec9e082 {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#I210_1278_113_3086_Avatar_unique_d6f43a2bcf2f4be1991aa474e17a6afe {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I210_1278_113_3086_9762_1114_Shape_unique_fb2419e6604843b0be324624c740954f {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_210_1280_003-AROC-Verlauf-V00_small_1_unique_e60c53ed600146548cedcc4aef61e668 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_210_1281_navigation_closed_unique_16c64378b1b64500bacf669272334068 {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#I210_1281_113_358_nav_back_left_unique_940982da260042978c3bb51f9d268dcb {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#I210_1_unique_c8b6fb3771794b269fde02c49c3d3555 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#I210__unique_13906d03e4c649c5af5d720a3420aa7c {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#I210_unique_19716ca53934458e8b70580a1356ca89 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#I210_1281_unique_dfc0153375ca46168a257b5c7786643c {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#I210__unique_a7e1001a89f345f681bd3084ecafc1dc {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#I210_1_unique_6e83685429a041fc8092733d30cd1b2b {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#I210_unique_98de567681a34e2c9554904961571ce3 {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                        cursor: pointer;
                    
}

div#I210_1281_113_298_bars_unique_c9d35f1fbe124390973224bf56597bec {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#I210_1_unique_4bdc39381ad54ae0bc92ea1d6cabde57 {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

span#Mission_Control_unique_2ad8f69542c842d6ae1dc12a8c287c68 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 12.92%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

div#_210_1283_image_2_unique_6ce0d2f07196404384fce1c75a99b720 {
  
                    position: absolute;
                    height: 256px;
                    width: 256px;
                    left: 548px;
                    top: 366px;
                
}

div#_210_1284_load-1110_256_1_unique_bc6a2d980e654ea7b8ebe27dd9d46d77 {
  
                    position: absolute;
                    background: url(../assets/images/2053e12b9c1ae3a081ba092cab8cebf11585ecce)
                        100% / cover no-repeat;
                    height: 256px;
                    width: 256px;
                    left: 827px;
                    top: 110px;
                
}

span#Your_articles_will_be_processed__unique_b287d7a99363478784053957a67b300f {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 25.69%;
                    position: absolute;
                    left: calc(100% * 0.2263888888888889);
                    top: calc(100% * 0.1787109375);
                
}

