body {
  margin: 0
}

div#_231_1003_Rack-Attack_selection_WAITING_unique_3ad4d4f704f64d37b3192f5cad0e5341 {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_231_1005_header_closed_unique_6228a29b08e248ef84067439e1c905d7 {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#I231_1005_113_462_003-AROC-Verlauf-V00_small_1_unique_ced8abe96a1b411e8048cb08efea317d {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#I231_1005_113_463_Rectangle_2_unique_a9ce1a692ef44b68974b4a51a0b938bf {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#I231_unique_bce44fb1c07b43eba4025923f49146c1 {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#I231_1005_113_3082_Ellipse_1_unique_cb6bc2b952a342e28918d88082cedb34 {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_e7e043fad56349418dbd4768854f6ded {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#I231_100_unique_9b9eb8973f6649db87c5f7cd51025e49 {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#I231_1005_113_unique_146b35a4582e4679b2880148f4f2a7eb {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#I231_1005_113_3086_Avatar_unique_b9f2f8b998cc40f5b181107264b60982 {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I231_1005_113_3086_9762_1114_Shape_unique_df261f52f3ed4533a00aa9805a289639 {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_231_1007_003-AROC-Verlauf-V00_small_1_unique_722cd6550dea4a03954d79fa107f64e3 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_231_1008_navigation_closed_unique_70f61a4d80634ff482b7c81d656f11c7 {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#I231_1008_113_358_nav_back_left_unique_74d6e131659547408154f3f99094c7fe {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#I231_1_unique_e29d081145af405b8e3c486fec0c89d2 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#I231__unique_b9f9fb09e5e5462895557085ced21b6e {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#I231_unique_d44b1a6c159b448ba373e61537c3628f {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#I231_1008_unique_25232705469240d281f8158a5b981a87 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#I231__unique_c075afd5bb5d412d90c1804c4fb16e73 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#I231_1_unique_f7364ed822c2431c863ff0dc8b4ee33c {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#I231_unique_83a2dbd924af4bd882c5975a61c02330 {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                        cursor: pointer;
                    
}

div#I231_1008_113_298_bars_unique_ec9c071ac2974bd49ebe3dbbb607a889 {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#I231_1_unique_10a89df17fbc427c844ed664d61a4228 {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

span#Command_Panel___AE_Unit_Selection_unique_e56c962d90014148977c50d0abb97e10 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 30.07%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

div#_231_1010_image_2_unique_cf936d94c39d4bb3a85e200655630960 {
  
                    position: absolute;
                    height: 256px;
                    width: 256px;
                    left: 548px;
                    top: 366px;
                
}

div#_231_1011_load-1110_256_1_unique_da2740f1f20d4299a488b77092976f0b {
  
                    position: absolute;
                    background: url(../assets/images/2053e12b9c1ae3a081ba092cab8cebf11585ecce)
                        100% / cover no-repeat;
                    height: 256px;
                    width: 256px;
                    left: 827px;
                    top: 110px;
                
}

span#We_are_waiting_for_the_connection__to_your_robots__buckle_up__adjust_your__seating_position_and_be_ready__unique_a7124a99ddaf4eb3bdb6d2e02cbf4347 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 8.79%;
                    width: 32.01%;
                    position: absolute;
                    left: calc(100% * 0.2263888888888889);
                    top: calc(100% * 0.1787109375);
                
}

