body {
  margin: 0
}

div#_232_1229_Rack-Attack_Cockpit_WAITING_unique_87b6857ba70248c8a191bf983c82fac1 {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_232_1231_header_closed_unique_061a97393cbe4e8ca204312f8db41c09 {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#I232_1231_113_462_003-AROC-Verlauf-V00_small_1_unique_7026b26c2d1b40dc87b4f8446dde323b {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#I232_1231_113_463_Rectangle_2_unique_c061d2dab9cc4d7bb3343ea974eac588 {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#I232_unique_dc7b2fd43f1244eca26c878573db36a4 {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#I232_1231_113_3082_Ellipse_1_unique_beb57cb8bff649feb1fbe4c967e78870 {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_8e43a3d729c34f5592e519736a252c22 {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#I232_123_unique_a716a38febbe4f4abd0fee5136c36210 {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#I232_1231_113_unique_4570dd68a77a495e845da33af0cbfcd6 {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#I232_1231_113_3086_Avatar_unique_41109e271b004e9d94690181ecb8622c {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I232_1231_113_3086_9762_1114_Shape_unique_9dc63f8833ff40f5a869e5edb5d03368 {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_232_1233_003-AROC-Verlauf-V00_small_1_unique_f8a0701f94b24a468dbae5567b4e0704 {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_232_1234_navigation_closed_unique_a8c32962a64a4d61b721262738a793eb {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#I232_1234_113_358_nav_back_left_unique_8bb0a29d91594a1d930c1c3e2fc54661 {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#I232_1_unique_0fc954d52b724bca9f6ec4da6c2b71ca {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#I232__unique_f86d20e60dc84733b22f7731386acd03 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#I232_unique_4f106425ca004b3291110787db8ac60f {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#I232_1234_unique_d69ab0c6544f4a1488bbd4a28a6334f0 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#I232__unique_2d2960de816f4c419ebef2f5a555301f {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#I232_1_unique_81604c44df624aa595ac0c329af0b962 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#I232_unique_0f809d516a0e431bb992c88661355180 {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                        cursor: pointer;
                    
}

div#I232_1234_113_298_bars_unique_f630d91c9d9943b3989204a8e38ed53d {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#I232_1_unique_38d95c35b3524d17abd9b0768fb9420f {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

span#Command_Panel___Rack-Attack_Cockpit_unique_1db2e7a296294adca81169f2d9b1bd16 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 32.57%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

div#_232_1236_image_2_unique_bad44383a491400696cfd97ad4dede13 {
  
                    position: absolute;
                    height: 256px;
                    width: 256px;
                    left: 548px;
                    top: 366px;
                
}

div#_232_1237_load-1110_256_1_unique_7ad9756b38e644b988b4c118e0c1020f {
  
                    position: absolute;
                    background: url(../assets/images/2053e12b9c1ae3a081ba092cab8cebf11585ecce)
                        100% / cover no-repeat;
                    height: 256px;
                    width: 256px;
                    left: 827px;
                    top: 110px;
                
}

span#We_are_waiting_for_the_connection__to_your_robots__buckle_up__adjust_your__seating_position_and_be_ready__unique_fd32570f340a4f43a4649337f13c4062 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 8.79%;
                    width: 32.01%;
                    position: absolute;
                    left: calc(100% * 0.2263888888888889);
                    top: calc(100% * 0.1787109375);
                
}

