body {
  margin: 0
}

div#_228_767_Rack-Attack_selection_unique_209174a18c6c405ca3a0f203c0c38f51 {
  
                position: absolute;
                overflow: hidden;
                background: rgba(255, 255, 255, 1);
                height: 100vh;
                width: 100%;
                overflow-y: scroll;

            
}

div#_228_769_header_closed_unique_da40d9582f8a48d982582a16888e0c26 {
  
                    position: absolute;
                    height: 59px;
                    width: 1207px;
                    left: 233px;
                    top: 0px;
                
}

div#I228_769_113_462_003-AROC-Verlauf-V00_small_1_unique_828b91074d2340d984a764d24574b2ba {
  
                        position: absolute;
                        background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                            100% / cover no-repeat;
                        height: 8.47%;
                        width: 100%;
                    
}

div#I228_769_113_463_Rectangle_2_unique_6bf4b94a1f7e4a79b0b779f6518120fc {
  
                        position: absolute;
                        background: rgba(255, 255, 255, 1);
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 91.53%;
                        width: 115.41%;
                        left: calc(100% * -0.15410107705053852);
                        top: calc(100% * 0.0847457627118644);
                    
}

img#I228_unique_c77faacb90c04a2bb7982ee719e59ced {
  
                        position: absolute;
                        left: calc(100% * 0.8939519469759735);
                        top: calc(100% * 0.3898305084745763);
                    
}

div#I228_769_113_3082_Ellipse_1_unique_df36e3065ad74884822356949bb1bc4c {
  
                        position: absolute;
                        background: rgba(33, 150, 243, 1);
                        height: 33.9%;
                        width: 1.66%;
                        border-radius: 50%;
                        left: calc(100% * 0.9030654515327258);
                        top: calc(100% * 0.22033898305084745);
                    
}

span#_1_unique_1d29f0c98c714142a1a71a1d3d51c548 {
  
                        color: #ffffffff;
                        font-family: Sen;
                        font-size: 15px;
                        font-weight: 400;
                        text-align: left;
                        height: 30.51%;
                        width: 0.75%;
                        position: absolute;
                        left: calc(100% * 0.908036454018227);
                        top: calc(100% * 0.23728813559322035);
                    
}

img#I228_769_unique_2f1e20d5d63a4f19a7be7646c448e485 {
  
                        position: absolute;
                        left: calc(100% * 0.8686826843413422);
                        top: calc(100% * 0.4067796610169492);
                    
}

img#I228_769_113__unique_d9770af3e6354fa9a18cb5ad6a97fb6d {
  
                        position: absolute;
                        left: calc(100% * 0.8405136702568351);
                        top: calc(100% * 0.4067796610169492);
                        cursor: pointer;
                    
}

div#I228_769_113_3086_Avatar_unique_7dcee14b68c84fea99e225684b6153ac {
  
                        position: absolute;
                        overflow: hidden;
                        border-radius: 9999px;
                        filter: drop-shadow(
                            0px 4px 4px 0px rgba(0, 0, 0, 0.25)
                        );
                        height: 67.8%;
                        width: 3.31%;
                        left: calc(100% * 0.9411764705882353);
                        top: calc(100% * 0.2033898305084746);
                    
}

div#I228_769_113_3086_9762_1114_Shape_unique_da92ae6a926f4b21b5f0baa1bb321f24 {
  
                            position: absolute;
                            background: url(../assets/images/11dbcb982f9ba115c7d5cc790cc48a457815fb67)
                                100% / cover no-repeat;
                            height: 40px;
                            width: 40px;
                            left: calc(50% - 20px);
                            top: calc(50% - 20px);
                        
}

div#_228_771_003-AROC-Verlauf-V00_small_1_unique_22d4c9749d0844e3bf26b27ced48395c {
  
                    position: absolute;
                    background: url(../assets/images/47449e8904385e59c2e96d8f53a3a17bc54fdfa8)
                        100% / cover no-repeat;
                    height: 0.49%;
                    width: 96.74%;
                    left: calc(100% * 0.03263888888888889);
                
}

div#_228_772_navigation_closed_unique_4deb8055738c4c53a6546099c0b8a070 {
  
                    position: absolute;
                    height: 1024px;
                    width: 233px;
                    left: 0px;
                    top: 0px;
                
}

div#I228_772_113_358_nav_back_left_unique_bf4e9b89249b498eae0ad4f883c9c328 {
  
                        position: absolute;
                        background: rgba(7, 19, 32, 1);
                        height: 100%;
                        width: 20.17%;
                    
}

img#I228_7_unique_da1c0dda39b94c23b40fa359acc08cdc {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.31640625);
                        cursor: pointer;
                    
}

img#I228__unique_8b866ceaf8e34ec182fa6ddfe618bd37 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.2744140625);
                        cursor: pointer;
                    
}

img#I228_unique_cf101588946e4d6dbffc0e613ea683ca {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.232421875);
                    
}

img#I228_772__unique_a590f250e7224cf8844d7ac60cf33e81 {
  
                        position: absolute;
                        left: calc(100% * 0.06437768240343347);
                        top: calc(100% * 0.1904296875);
                        cursor: pointer;
                    
}

img#I228__unique_4d07cb90d17c4f5caf806da80af1de71 {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.1484375);
                    
}

img#I228_7_unique_d24cb77414df454e933f482a8afb806c {
  
                        position: absolute;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.107421875);
                        cursor: pointer;
                    
}

img#I228_unique_86893b6ddd914af3b92438ee8a726e23 {
  
                        position: absolute;
                        left: calc(100% * 0.04721030042918455);
                        top: calc(100% * 0.068359375);
                        cursor: pointer;
                        cursor: pointer;
                    
}

div#I228_772_113_298_bars_unique_c8db9933404942f0bc2e2b1c843454d6 {
  
                        position: absolute;
                        overflow: hidden;
                        background: rgba(251, 251, 251, 0);
                        height: 1.76%;
                        width: 7.73%;
                        left: calc(100% * 0.060085836909871244);
                        top: calc(100% * 0.0224609375);
                        cursor: pointer;
                    
}

img#I228_7_unique_9f59e68a3de34ae5b595b8114eab4850 {
  
                            position: absolute;
                            left: calc(100% * 0.0625);
                            top: calc(100% * 0.1171875);
                        
}

span#Command_Panel___AE_Unit_Selection_unique_60d4a42b47a941cab5c91af4c8e8b276 {
  
                    background-image: linear-gradient(
                        90deg,
                        rgba(65, 189, 240, 1) 0%,
                        rgba(177, 88, 154, 1) 100%
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    font-family: Sen;
                    font-size: 25px;
                    font-weight: 700;
                    text-align: left;
                    height: 2.93%;
                    width: 30.07%;
                    position: absolute;
                    left: calc(100% * 0.059722222222222225);
                    top: calc(100% * 0.017578125);
                
}

div#_228_776_image_2_unique_a015ab69dc494bd1a9ad3f2c54a99b42 {
  
                    position: absolute;
                    height: 256px;
                    width: 256px;
                    left: 548px;
                    top: 366px;
                
}

div#_228_778_Form_Shipping_unique_959b225f740b4c208c21870ca6210f74 {
  
                    position: absolute;
                    background: rgba(255, 255, 255, 1);
                    border-color: #d9d9d9ff;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 8px;
                    height: 534px;
                    width: 1246px;
                    left: 86px;
                    top: 89px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 24px;
                    padding: 24px 24px 24px 24px;
                
}

div#I228_778_197_23151_Legend_unique_689158c9aa7e408782d94f0b0fc500b2 {
  
                        position: relative;
                        width: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-wrap: nowrap;
                        gap: 4px;
                    
}

span#Shipping_information_unique_00230c7bd07942d9a22f13270afe0f0c {
  
                            color: #1e1e1eff;
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 120%;
                            letter-spacing: -2%;
                            text-align: left;
                            height: 29px;
                            width: 1248px;
                            position: relative;
                        
}

div#I228_778_197_23149_Text_unique_b71d0cef347d45788ff7c85a7e4654c1 {
  
                            position: relative;
                            height: 44px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: nowrap;
                        
}

span#Text_unique_357828dc494d48f99e4e2ecf9da19fdb {
  
                                color: #757575ff;
                                font-family: Inter;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 139%;
                                text-align: left;
                                height: 44px;
                                width: 326px;
                                position: relative;
                            
}

div#_228_780_Rectangle_6_unique_8754ed90085e4b469c5006aa1a5cecef {
  
                    position: absolute;
                    background: rgba(217, 217, 217, 1);
                    height: 39px;
                    width: 195px;
                    left: 110px;
                    top: 233px;
                
}

div#_228_781_Rectangle_7_unique_167557f388dd4ab7a63df3c5e40d8c01 {
  
                    position: absolute;
                    background: rgba(217, 217, 217, 1);
                    height: 39px;
                    width: 195px;
                    left: 319px;
                    top: 233px;
                
}

div#_228_782_Rectangle_8_unique_9752eb39e5f24739ab9f0c06bef1269a {
  
                    position: absolute;
                    background: rgba(217, 217, 217, 1);
                    height: 39px;
                    width: 195px;
                    left: 528px;
                    top: 233px;
                
}

div#_228_783_Rectangle_9_unique_3a9c2a3032e841bfb1167ef23312319c {
  
                    position: absolute;
                    background: rgba(217, 217, 217, 1);
                    height: 39px;
                    width: 195px;
                    left: 737px;
                    top: 233px;
                
}

span#AE_Unit_unique_0c0ff967358145b4acc9b5e38a92b988 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 56px;
                    position: absolute;
                    left: 127px;
                    top: 241px;
                
}

span#Unit_Mode_unique_c24ca543ab524e51817ec41ed33fa9f5 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 79px;
                    position: absolute;
                    left: 328px;
                    top: 241px;
                
}

span#AE_Demo-Loops_unique_e6d0030bf60241a3bbeb335da14bcd1a {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 123px;
                    position: absolute;
                    left: 752px;
                    top: 241px;
                
}

span#Level_unique_3abfe324b1354f2bb475318019bb3339 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 40px;
                    position: absolute;
                    left: 537px;
                    top: 241px;
                
}

div#_228_790_Rectangle_3_unique_cc66c7a13c8c4bb28afaad29fb5faf48 {
  
                    position: absolute;
                    background: rgba(168, 163, 167, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 737px;
                    top: 283px;
                
}

img#_228_791_unique_01a88b3c6b074b0bb11ab023ba829686 {
  
                    position: absolute;
                    left: 915.9207153320312px;
                    top: 303.5px;
                
}

span#Start_Demo-Loops_unique_c9b19904970443529214f3ba6795fd13 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 746px;
                    top: 294px;
                
}

span#AE81215668155_unique_fda655c09bf24281955a2a1e4987c225 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 122px;
                    position: absolute;
                    left: 127px;
                    top: 294px;
                
}

span#RUN_unique_87e81563360b4aef8dfed74419af6fa4 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 35px;
                    position: absolute;
                    left: 328px;
                    top: 294px;
                
}

span#Unit_is_OK_unique_4f92feb3717e415e8d6ad4559880925e {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 75px;
                    position: absolute;
                    left: 537px;
                    top: 294px;
                
}

img#_228_7_unique_b1bc63e1494e4f83b6f80401fc0412b5 {
  
                    position: absolute;
                    left: calc(100% * 0.44583333333333336);
                    top: calc(100% * 0.29296875);
                
}

img#_228_unique_021118337a4a4adb9842eef3783fe4cc {
  
                    position: absolute;
                    left: calc(100% * 0.49027777777777776);
                    top: calc(100% * 0.2939453125);
                
}

img#_228_798_unique_6e236885d696429392995360f66b84ce {
  
                    position: absolute;
                    left: calc(100% * 0.46805555555555556);
                    top: calc(100% * 0.294921875);
                
}

div#_228_801_Rectangle_3_unique_cf69262a490f45e59a522e425360325f {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 737px;
                    top: 335px;
                
}

img#_228_802_unique_e578946ac5d14db8809e0a298597bb83 {
  
                    position: absolute;
                    left: 915.9207153320312px;
                    top: 355.5px;
                
}

span#Start_Demo-Loops_unique_9d82329685ee45f2b981a2ae958fb86a {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 746px;
                    top: 346px;
                
}

span#AE81215658466_unique_2a3a42e602e44b969fd45ee6a86675c6 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 125px;
                    position: absolute;
                    left: 127px;
                    top: 346px;
                
}

span#WAITING_unique_89e258255c2140da9ddf80959419a602 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 68px;
                    position: absolute;
                    left: 328px;
                    top: 346px;
                
}

span#Unit_is_OK_unique_2e10af565b074c4da092a3acc2cd10ca {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 75px;
                    position: absolute;
                    left: 537px;
                    top: 346px;
                
}

img#_228_8_unique_c55503f3879f41588496a3defe923938 {
  
                    position: absolute;
                    left: calc(100% * 0.44583333333333336);
                    top: calc(100% * 0.34375);
                
}

img#_228_unique_3c8e4487e3e24ed59ee92b6e00e75047 {
  
                    position: absolute;
                    left: calc(100% * 0.49027777777777776);
                    top: calc(100% * 0.3447265625);
                
}

img#_228_809_unique_509ba7d57ebe4e63a786d26fc2aede10 {
  
                    position: absolute;
                    left: calc(100% * 0.46805555555555556);
                    top: calc(100% * 0.345703125);
                
}

div#_228_812_Rectangle_3_unique_d4c661dccc914b14851f55f187497572 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 737px;
                    top: 387px;
                
}

img#_228_813_unique_f0ecbcbd41de4d598e7acda7f402b857 {
  
                    position: absolute;
                    left: 915.9207153320312px;
                    top: 407.5px;
                
}

span#Start_Demo-Loops_unique_03b266bf17a943b68a020077b9658888 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 746px;
                    top: 398px;
                
}

span#AE81215565687_unique_121489a7397b4a71beb5fdf0d6ca2348 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 123px;
                    position: absolute;
                    left: 127px;
                    top: 398px;
                
}

span#WAITING_unique_72896d262f204ba6b47e5c97b96b956d {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 68px;
                    position: absolute;
                    left: 328px;
                    top: 398px;
                
}

span#Unit_is_OK_unique_d8a172de9c2e4fb3a95d337890e12b4f {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 75px;
                    position: absolute;
                    left: 537px;
                    top: 398px;
                
}

img#_228_8_unique_ea1360f84f6e4a559d4ebfc922e7cd2c {
  
                    position: absolute;
                    left: calc(100% * 0.44583333333333336);
                    top: calc(100% * 0.39453125);
                
}

img#_228_unique_c95abb07356e4f3baf4b2a24ada952eb {
  
                    position: absolute;
                    left: calc(100% * 0.49027777777777776);
                    top: calc(100% * 0.3955078125);
                
}

img#_228_820_unique_e47421aa4faa4f68875edbaf90d3b2f1 {
  
                    position: absolute;
                    left: calc(100% * 0.46805555555555556);
                    top: calc(100% * 0.396484375);
                
}

div#_228_823_Rectangle_3_unique_38cc51758ac249778e26841e5040709c {
  
                    position: absolute;
                    background: rgba(168, 163, 167, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 737px;
                    top: 439px;
                
}

img#_228_824_unique_3c25a64d38664f72bacab66fb4e66972 {
  
                    position: absolute;
                    left: 915.9207153320312px;
                    top: 459.5px;
                
}

span#Start_Demo-Loops_unique_be32926eaf254eaebda307031de2d3b0 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 746px;
                    top: 450px;
                
}

span#AE81215635421_unique_e7b6c9a1ed8444b198675c93522ff50a {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 122px;
                    position: absolute;
                    left: 127px;
                    top: 450px;
                
}

span#WAITING_unique_ea75c806f4cc48c49cdf93c78d9d99c7 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 68px;
                    position: absolute;
                    left: 328px;
                    top: 450px;
                
}

span#Level_Low_unique_3c64973f97a74b08bffca31827137c5a {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 76px;
                    position: absolute;
                    left: 537px;
                    top: 450px;
                
}

img#_228_8_unique_5e523d29cbda460c955e25d9425ff678 {
  
                    position: absolute;
                    left: calc(100% * 0.44583333333333336);
                    top: calc(100% * 0.4453125);
                
}

img#_228_unique_307433bbb24745559c495df7770c37fe {
  
                    position: absolute;
                    left: calc(100% * 0.49027777777777776);
                    top: calc(100% * 0.4462890625);
                    cursor: pointer;
                
}

img#_228_831_unique_f801b578c7f1434eb48fe48025fc3e4f {
  
                    position: absolute;
                    left: calc(100% * 0.46805555555555556);
                    top: calc(100% * 0.447265625);
                
}

div#_228_834_Rectangle_3_unique_31c348b37adc4288b463481b643ecda2 {
  
                    position: absolute;
                    background: rgba(168, 163, 167, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 737px;
                    top: 491px;
                
}

img#_228_835_unique_a58a239ca5414a70a85c2cdfba1e1c47 {
  
                    position: absolute;
                    left: 915.9207153320312px;
                    top: 511.5px;
                
}

span#Start_Demo-Loops_unique_00b7f7b03a1140259252b9e719d2fbe5 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 746px;
                    top: 502px;
                
}

span#AE81235784531_unique_5159a29dbb0644ad80e6432acd730994 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 124px;
                    position: absolute;
                    left: 127px;
                    top: 502px;
                
}

span#RUN_unique_3d1d369f9df94183b39dc3df2d33d648 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 35px;
                    position: absolute;
                    left: 328px;
                    top: 502px;
                
}

span#Unit_is_OK_unique_fc0dc9760f7d4b6fa478059923561ada {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 75px;
                    position: absolute;
                    left: 537px;
                    top: 502px;
                
}

img#_228_8_unique_c02c6764a1c34b528b23fd28de7de6ff {
  
                    position: absolute;
                    left: calc(100% * 0.44583333333333336);
                    top: calc(100% * 0.49609375);
                
}

img#_228_unique_3e0a61e221f548fb8ea9b8576b84f03c {
  
                    position: absolute;
                    left: calc(100% * 0.49027777777777776);
                    top: calc(100% * 0.4970703125);
                
}

img#_228_842_unique_d483b1a9e0a84d79a49546f1dff02bee {
  
                    position: absolute;
                    left: calc(100% * 0.46805555555555556);
                    top: calc(100% * 0.498046875);
                
}

div#_228_845_Rectangle_3_unique_dde9d51d218d44e9a2377365111e8671 {
  
                    position: absolute;
                    background: rgba(168, 163, 167, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 737px;
                    top: 543px;
                
}

img#_228_846_unique_fcf090578ec6408fa89c5aeb75335506 {
  
                    position: absolute;
                    left: 915.9207153320312px;
                    top: 563.5px;
                
}

span#Start_Demo-Loops_unique_711a963342734ebfa2ed95c057833d07 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 746px;
                    top: 554px;
                
}

div#_231_974_Rectangle_10_unique_e62f60b5dc884441b55fe75d2075acb3 {
  
                    position: absolute;
                    background: rgba(217, 217, 217, 1);
                    height: 39px;
                    width: 195px;
                    left: 946px;
                    top: 233px;
                
}

div#_231_976_Rectangle_3_unique_7d3ce3914c9545a6a54cc75cddc16d32 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 946px;
                    top: 283px;
                
}

img#_231_977_unique_3e7e9adea9974f688968a052eb411ae0 {
  
                    position: absolute;
                    left: 1124.9207153320312px;
                    top: 303.5px;
                
}

span#Start_Rack-Attack_unique_6fa920af92a04469be0c36ae76b794c3 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 955px;
                    top: 294px;
                
}

div#_231_980_Rectangle_3_unique_dd74e19c7d584a26a52a0051c9077e14 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 946px;
                    top: 335px;
                
}

img#_231_981_unique_73216576ab2c4668ab4fb99eac6223ae {
  
                    position: absolute;
                    left: 1124.9207153320312px;
                    top: 355.5px;
                
}

span#Start_Rack-Attack_unique_fd7f60f275234c23b2b815b8369d1f1a {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 955px;
                    top: 346px;
                
}

div#_231_984_Rectangle_3_unique_07e3f9651e284801baaed0d6f9078d90 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 946px;
                    top: 387px;
                
}

img#_231_985_unique_1c263b9ef2b643e1b549424dd21094a1 {
  
                    position: absolute;
                    left: 1124.9207153320312px;
                    top: 407.5px;
                
}

span#Start_Rack-Attack_unique_19d5c175e10c45e7b62e3843dcd03e4c {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 955px;
                    top: 398px;
                
}

div#_231_988_Rectangle_3_unique_722df36f8da347339503c3b673ebfc12 {
  
                    position: absolute;
                    background: rgba(168, 163, 167, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 946px;
                    top: 439px;
                
}

img#_231_989_unique_e39af16863d9433aa9139a1c51170304 {
  
                    position: absolute;
                    left: 1124.9207153320312px;
                    top: 459.5px;
                
}

span#Start_Rack-Attack_unique_51319f9c0d554350bb89f5930e397dab {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 955px;
                    top: 450px;
                
}

div#_231_992_Rectangle_3_unique_c0672b8da39d4f90911f0f8a9336f0f6 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 946px;
                    top: 491px;
                
}

img#_231_993_unique_464835b3852448e29b08902e22ab1ae2 {
  
                    position: absolute;
                    left: 1124.9207153320312px;
                    top: 511.5px;
                
}

span#Start_Rack-Attack_unique_977b069e306d43ca993851f45c68ab87 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 955px;
                    top: 502px;
                
}

span#AE_Rack-Attack_unique_3a6e4fe5e1c841878a05d0668491dcea {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 117px;
                    position: absolute;
                    left: 961px;
                    top: 241px;
                
}

div#_231_996_Rectangle_3_unique_c954023e0ef24a23af788e0503d61efb {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 946px;
                    top: 543px;
                
}

img#_231_997_unique_33c606c7b7a7467db760a4ccccc9d1c6 {
  
                    position: absolute;
                    left: 1124.9207153320312px;
                    top: 563.5px;
                
}

span#Start_Rack-Attack_unique_355a5d66f5934bf28e8e7ab4324ff61a {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 955px;
                    top: 554px;
                
}

div#_232_1035_Rectangle_11_unique_e239ea352f234ed0893d7d763f66f809 {
  
                    position: absolute;
                    background: rgba(217, 217, 217, 1);
                    height: 39px;
                    width: 195px;
                    left: 1155px;
                    top: 233px;
                
}

div#_232_1037_Rectangle_3_unique_2e02015723f14ac79d36e2e6c0e8c65b {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 1155px;
                    top: 283px;
                
}

img#_232_103_unique_de99de69bb0b4d1cb98e64b701c0da1c {
  
                    position: absolute;
                    left: 1333.9207153320312px;
                    top: 303.5px;
                
}

span#Start_Maintenance_unique_1a4406b7d2c34d03ab00bb1749cb1d74 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 1164px;
                    top: 294px;
                
}

div#_232_1041_Rectangle_3_unique_dd2ed68e788843f2ab62597fa98205c2 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 1155px;
                    top: 335px;
                
}

img#_232_104_unique_afa699b1a66c4953be643ee76871f814 {
  
                    position: absolute;
                    left: 1333.9207153320312px;
                    top: 355.5px;
                
}

span#Start_Maintenance_unique_333139d1e5ce4463b1508be698520a4d {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 1164px;
                    top: 346px;
                
}

div#_232_1045_Rectangle_3_unique_812d7980b8c349a18cabf94beac71210 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 1155px;
                    top: 387px;
                
}

img#_232_104_unique_c2b6373a741a4fcc81332c721437095e {
  
                    position: absolute;
                    left: 1333.9207153320312px;
                    top: 407.5px;
                
}

span#Start_Maintenance_unique_3d179f43202747758b2e732cf34c7f3c {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 1164px;
                    top: 398px;
                
}

div#_232_1049_Rectangle_3_unique_da76ddb505f44615a1aecaef0872bc96 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 1155px;
                    top: 439px;
                
}

img#_232_105_unique_681cc6d1e36d450faf24c16d744660da {
  
                    position: absolute;
                    left: 1333.9207153320312px;
                    top: 459.5px;
                
}

span#Start_Maintenance_unique_be1110c2a6cf4ca094c7de467fb61b71 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 1164px;
                    top: 450px;
                
}

div#_232_1053_Rectangle_3_unique_7a861f7df33242efbe013d2bd626cd35 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 1155px;
                    top: 491px;
                
}

img#_232_105_unique_68d35ba0cfd34e208b4dcb3fa5977d96 {
  
                    position: absolute;
                    left: 1333.9207153320312px;
                    top: 511.5px;
                
}

span#Start_Maintenance_unique_5963b77c23824d058a5a97a0b4d68224 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 1164px;
                    top: 502px;
                
}

span#AE_Maintenance_unique_c03ec6d901d842e9966fce9d0e1d388c {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 123px;
                    position: absolute;
                    left: 1170px;
                    top: 241px;
                
}

div#_232_1058_Rectangle_3_unique_fc7f21b252c547bf81fb13639434e878 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 1155px;
                    top: 543px;
                
}

img#_232_105_unique_aa853721a33f4e019f84ed0f3521e81e {
  
                    position: absolute;
                    left: 1333.9207153320312px;
                    top: 563.5px;
                
}

span#Start_Maintenance_unique_d069bed643524c63aa5ecfbb78e71230 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 1164px;
                    top: 554px;
                
}

div#_228_849_Rectangle_3_unique_2ab2174a644b45dbbce521691b5ff249 {
  
                    position: absolute;
                    background: rgba(161, 45, 155, 1);
                    height: 41px;
                    width: 193.8903350830078px;
                    left: 127px;
                    top: 615px;
                
}

img#_228_850_unique_7d21983052a74c258f5583cdc9e4ca5f {
  
                    position: absolute;
                    left: 305.92071533203125px;
                    top: 635.5px;
                
}

span#More_AE_Units_unique_146153cad790491fa377fa25e73ce0e0 {
  
                    color: #ffffffff;
                    font-family: Sen;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                    height: 23px;
                    width: 139px;
                    position: absolute;
                    left: 136px;
                    top: 626px;
                
}

span#AE81215665874_unique_e4652767ff6f4a21b132942ce130b101 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 123px;
                    position: absolute;
                    left: 127px;
                    top: 554px;
                
}

span#RUN_unique_51fe73da460e4c46adc365d1fa8a92f7 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 35px;
                    position: absolute;
                    left: 328px;
                    top: 554px;
                
}

span#Unit_is_OK_unique_6cf64bee1a5e4ff99bb29b791a282b14 {
  
                    color: #000000ff;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 139%;
                    text-align: left;
                    height: 22px;
                    width: 75px;
                    position: absolute;
                    left: 537px;
                    top: 554px;
                
}

img#_228_8_unique_b7abed0f2b2c43cebb833eee5a457ee3 {
  
                    position: absolute;
                    left: calc(100% * 0.44583333333333336);
                    top: calc(100% * 0.546875);
                
}

img#_228_unique_f0a31f784c154283b6feeaf2a8ff7862 {
  
                    position: absolute;
                    left: calc(100% * 0.49027777777777776);
                    top: calc(100% * 0.5478515625);
                
}

img#_228_869_unique_6d3fd172920e4fd2bbdff21033bf5260 {
  
                    position: absolute;
                    left: calc(100% * 0.46805555555555556);
                    top: calc(100% * 0.548828125);
                
}

div#_228_870_Search_bar_unique_f4fd51d4b43b41ef95f030fb57b4661c {
  
                    position: absolute;
                    overflow: hidden;
                    background: rgba(236, 230, 240, 1);
                    border-radius: 28px;
                    height: 56px;
                    width: 360px;
                    left: 990px;
                    top: 130px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 4px;
                
}

div#I228_870_52977_33949_state-layer_unique_e80dbde9befd4f13bfbdd6acb1ee78e2 {
  
                        position: relative;
                        flex: 1;
                        height: calc(100% - 0px - 0px);
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 4px;
                        padding: 4px 4px 4px 4px;
                    
}

div#I228_870_52977_33950_Leading-icon_unique_7b5a806c7e1545978d4944d9272fb6a8 {
  
                            position: relative;
                            height: 48px;
                            width: 48px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 10px;
                            cursor: pointer;
                        
}

div#I228_870_52977_33950_51525_5219_container_unique_2f700cdeed4d4fc388c15144abe30e7e {
  
                                position: relative;
                                overflow: hidden;
                                border-radius: 100px;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                flex-wrap: nowrap;
                                gap: 10px;
                            
}

div#I228_870_52977_33950_51525_5220_state-layer_unique_c677ccc7176d4a93bbb921fc5c172eed {
  
                                    position: relative;
                                    height: 24px;
                                    width: 24px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    flex-wrap: nowrap;
                                    gap: 10px;
                                    padding: 8px 8px 8px 8px;
                                
}

div#I228_870_52977_33950_51525_5221_Icon_unique_d926074e1e1845c3808759b8f5860a9d {
  
                                        position: relative;
                                        height: 24px;
                                        width: 24px;
                                    
}

img#I228_unique_a208d87e4b61465da290cb21deab9a6b {
  
                                            position: absolute;
                                            left: calc(
                                                100% * 0.12499999006589253
                                            );
                                            top: calc(100% * 0.25);
                                        
}

div#I228_870_52977_33951_Content_unique_ec40cc0508254eb280f78549ba6f8de5 {
  
                            position: relative;
                            flex: 1;
                            height: calc(100% - 4px - 4px);
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 10px;
                            cursor: pointer;
                        
}

span#supporting-text_unique_8b655dd0b3e443e380fb84ab3f143398 {
  
                                color: #49454fff;
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0.5px;
                                text-align: left;
                                height: 24px;
                                width: 150px;
                                position: relative;
                            
}

div#I228_870_52977_33953_Trailing-Elements_unique_a9a8c5962143463197178833ff672b9d {
  
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                            flex-wrap: nowrap;
                        
}

div#I228_870_52977_33954_1st_trailing-icon_unique_e93ace8475c24e0c86d4175d7c0970ef {
  
                                position: relative;
                                height: 48px;
                                width: 48px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                flex-wrap: nowrap;
                                gap: 10px;
                                cursor: pointer;
                            
}

div#I228_870_52977_33954_51525_5219_container_unique_d3a267c5e5d0451887a1d7f416c6bb94 {
  
                                    position: relative;
                                    overflow: hidden;
                                    border-radius: 100px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    flex-wrap: nowrap;
                                    gap: 10px;
                                
}

div#I228_870_52977_33954_51525_5220_state-layer_unique_27f3b701265f4a0289236e301148a712 {
  
                                        position: relative;
                                        height: 24px;
                                        width: 24px;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        flex-wrap: nowrap;
                                        gap: 10px;
                                        padding: 8px 8px 8px 8px;
                                    
}

div#I228_870_52977_33954_51525_5221_Icon_unique_ca6a888c40724560a4aa46c5757d0989 {
  
                                            position: relative;
                                            height: 24px;
                                            width: 24px;
                                        
}

img#I228_unique_515e7d30c4794aa98b52df5a75a88b7d {
  
                                                position: absolute;
                                                left: calc(
                                                    100% * 0.12499999006589253
                                                );
                                                top: calc(
                                                    100% * 0.12499999006589253
                                                );
                                            
}

