body {
  margin: 0
}

div#_210_1264_Rich_Tooltip_Item_unique_5515dcdddc3f491fa9330613781975da {
  
                position: absolute;
                overflow: hidden;
                background: rgba(243, 237, 247, 1);
                border-radius: 12px;
                filter: drop-shadow(
                    0px 2px 6px 2px rgba(0, 0, 0, 0.15),
                    0px 1px 2px 0px rgba(0, 0, 0, 0.3)
                );
                height: calc(160px - 0px - 0px);
                width: calc(368px - 0px - 0px);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: nowrap;
                gap: 8px;
                padding: 0px 0px 8px 0px;
            
}

div#I210_1264_54061_33873_Content_unique_513910cbec754df6b3a8bf93de9a903d {
  
                    position: relative;
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 4px;
                    padding: 12px 16px 4px 16px;
                
}

span#Subhead_unique_3580f44973184dac94b4bbc8fed2d897 {
  
                        color: #49454fff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 0.10000000149011612px;
                        text-align: left;
                        height: 20px;
                        width: 280px;
                        position: relative;
                    
}

span#Supporting_text_unique_86255a92a6b44821a93a0329da287885 {
  
                        color: #49454fff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0.25px;
                        text-align: left;
                        height: 60px;
                        width: 280px;
                        position: relative;
                    
}

div#I210_1264_54061_33876_Actions_unique_a443bded7b65453c938e4f3c65940b36 {
  
                    position: relative;
                    width: calc(100% - 8px - 8px);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 8px;
                    padding: 0px 8px 0px 8px;
                
}

div#I210_1264_54061_33877_Primary_button_unique_38b598eb50514c1cad9968b58ed19441 {
  
                        position: relative;
                        overflow: hidden;
                        border-radius: 100px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 8px;
                        cursor: pointer;
                    
}

div#I210_1264_54061_33877_53923_27564_state-layer_unique_3d1b8497d94c426f878c5186196fd960 {
  
                            position: relative;
                            width: 110px;
                            width: calc(100% - 12px - 12px);
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 8px;
                            padding: 10px 12px 10px 12px;
                        
}

span#label-text_unique_51b54d42ca1c4b228bd37e84d17a226a {
  
                                color: #65558fff;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                letter-spacing: 0.10000000149011612px;
                                text-align: center;
                                height: 20px;
                                width: 110px;
                                position: relative;
                            
}

div#I210_1264_54061_33878_Secondary_button_unique_920813934e8145ac9d7eecf5985b14dc {
  
                        position: relative;
                        overflow: hidden;
                        border-radius: 100px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 8px;
                        cursor: pointer;
                    
}

div#I210_1264_54061_33878_53923_27564_state-layer_unique_f8bc8a5012784faeaa0662a146048bc0 {
  
                            position: relative;
                            width: 62px;
                            width: calc(100% - 12px - 12px);
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 8px;
                            padding: 10px 12px 10px 12px;
                        
}

span#label-text_unique_db4e5e137dd747beb07ad309429a5a4f {
  
                                color: #65558fff;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                letter-spacing: 0.10000000149011612px;
                                text-align: center;
                                height: 20px;
                                width: 62px;
                                position: relative;
                            
}

