body {
  margin: 0
}

div#_232_1068_Rich_Tooltip_Item_Command_Panel_Demo_unique_c298ace5d9ba4bfc88e9b05daa8e058a {
  
                position: absolute;
                overflow: hidden;
                background: rgba(243, 237, 247, 1);
                border-radius: 12px;
                filter: drop-shadow(
                    0px 2px 6px 2px rgba(0, 0, 0, 0.15),
                    0px 1px 2px 0px rgba(0, 0, 0, 0.3)
                );
                height: calc(160px - 0px - 0px);
                width: calc(368px - 0px - 0px);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: nowrap;
                gap: 8px;
                padding: 0px 0px 8px 0px;
            
}

div#I232_1068_54061_33873_Content_unique_e47051f9e9434472a654ba2dd22544e4 {
  
                    position: relative;
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 4px;
                    padding: 12px 16px 4px 16px;
                
}

span#Subhead_unique_13e99b16efd54ee3b2d1593890e8c588 {
  
                        color: #49454fff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 0.10000000149011612px;
                        text-align: left;
                        height: 20px;
                        width: 280px;
                        position: relative;
                    
}

span#Supporting_text_unique_0aa72bff6eed45c5990011a77d2db22f {
  
                        color: #49454fff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0.25px;
                        text-align: left;
                        height: 60px;
                        width: 280px;
                        position: relative;
                    
}

div#I232_1068_54061_33876_Actions_unique_309cf8e38a85414fb90af9f81e83c161 {
  
                    position: relative;
                    width: calc(100% - 8px - 8px);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 8px;
                    padding: 0px 8px 0px 8px;
                
}

div#I232_1068_54061_33877_Primary_button_unique_7aceb21e1a2147b6ab7836f50dd13f12 {
  
                        position: relative;
                        overflow: hidden;
                        border-radius: 100px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 8px;
                        cursor: pointer;
                    
}

div#I232_1068_54061_33877_53923_27564_state-layer_unique_9ca22ce6de224a0eb5dbc3fa0521d82f {
  
                            position: relative;
                            width: 142px;
                            width: calc(100% - 12px - 12px);
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 8px;
                            padding: 10px 12px 10px 12px;
                        
}

span#label-text_unique_4788e33a02e94009ae4a2cee17b63d2e {
  
                                color: #65558fff;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                letter-spacing: 0.10000000149011612px;
                                text-align: center;
                                height: 20px;
                                width: 142px;
                                position: relative;
                            
}

div#I232_1068_54061_33878_Secondary_button_unique_c409d92b7bb34c46b5fa826e3eb814a2 {
  
                        position: relative;
                        overflow: hidden;
                        border-radius: 100px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 8px;
                        cursor: pointer;
                    
}

div#I232_1068_54061_33878_53923_27564_state-layer_unique_88dfb8f440eb44719e16a9be3d4c71bc {
  
                            position: relative;
                            width: 20px;
                            width: calc(100% - 12px - 12px);
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 8px;
                            padding: 10px 12px 10px 12px;
                        
}

span#label-text_unique_1338b64f341540d593079b1bad143b02 {
  
                                color: #65558fff;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                letter-spacing: 0.10000000149011612px;
                                text-align: center;
                                height: 20px;
                                width: 20px;
                                position: relative;
                            
}

