body {
  margin: 0
}

div#_187_1803_Rich_Tooltip_unique_6976526c5aa2472e86daa4ddd58241ab {
  
                position: absolute;
                overflow: hidden;
                background: rgba(243, 237, 247, 1);
                border-radius: 12px;
                filter: drop-shadow(
                    0px 2px 6px 2px rgba(0, 0, 0, 0.15),
                    0px 1px 2px 0px rgba(0, 0, 0, 0.3)
                );
                height: calc(176px - 0px - 0px);
                width: calc(100% - 0px - 0px);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: nowrap;
                gap: 8px;
                padding: 0px 0px 8px 0px;
            
}

div#I187_1803_54061_33873_Content_unique_6cb62c9867514e2c870daaca47ea6def {
  
                    position: relative;
                    height: 104px;
                    width: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    gap: 4px;
                    padding: 12px 16px 4px 16px;
                
}

span#Subhead_unique_7b5fc5ecb3aa4fa69c6ada7169148bab {
  
                        color: #49454fff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 0.10000000149011612px;
                        text-align: left;
                        height: 20px;
                        width: 280px;
                        position: relative;
                    
}

span#Supporting_text_unique_d18500e10058404e9cad4b90bae044fb {
  
                        color: #49454fff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0.25px;
                        text-align: left;
                        height: 80px;
                        width: 280px;
                        position: relative;
                    
}

div#I187_1803_54061_33876_Actions_unique_fd71c8dae1814ce0b4cd0f11014ce8ce {
  
                    position: relative;
                    height: 40px;
                    width: 296px;
                    width: calc(100% - 8px - 8px);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 8px;
                    padding: 0px 8px 0px 8px;
                
}

div#I187_1803_54061_33877_Primary_button_unique_8f180454a49f4aca90d9bdce25c7f791 {
  
                        position: relative;
                        overflow: hidden;
                        border-radius: 100px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 8px;
                        cursor: pointer;
                    
}

div#I187_1803_54061_33877_53923_27564_state-layer_unique_c7fe3ae4b0204c46a3c1877bfd844143 {
  
                            position: relative;
                            width: 103px;
                            width: calc(100% - 12px - 12px);
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 8px;
                            padding: 10px 12px 10px 12px;
                        
}

span#label-text_unique_030e1183082d4c6cbff886d7d655c8a7 {
  
                                color: #65558fff;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                letter-spacing: 0.10000000149011612px;
                                text-align: center;
                                height: 20px;
                                width: 103px;
                                position: relative;
                            
}

div#I187_1803_54061_33878_Secondary_button_unique_eae4bc421a524d2db02bf3e406a6cfff {
  
                        position: relative;
                        overflow: hidden;
                        border-radius: 100px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: nowrap;
                        gap: 8px;
                        cursor: pointer;
                        cursor: pointer;
                    
}

div#I187_1803_54061_33878_53923_27564_state-layer_unique_eccdf1da54004a5c996663888df1b424 {
  
                            position: relative;
                            width: 85px;
                            width: calc(100% - 12px - 12px);
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 8px;
                            padding: 10px 12px 10px 12px;
                        
}

span#label-text_unique_3629e780124f44c896dfd8db295feae9 {
  
                                color: #65558fff;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                letter-spacing: 0.10000000149011612px;
                                text-align: center;
                                height: 20px;
                                width: 85px;
                                position: relative;
                            
}

